<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Texture_Map_00001_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{1250,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1250,218}}</string>
                <key>sourceSize</key>
                <string>{1250,218}</string>
            </dict>
            <key>Texture_Map_00001_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{1250,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1250,218}}</string>
                <key>sourceSize</key>
                <string>{1250,218}</string>
            </dict>
            <key>Texture_Map_00001_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{1250,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1250,333}}</string>
                <key>sourceSize</key>
                <string>{1250,333}</string>
            </dict>
            <key>Texture_Map_00001_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{1250,333}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1250,333}}</string>
                <key>sourceSize</key>
                <string>{1250,335}</string>
            </dict>
            <key>Texture_Map_00001_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{1250,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1250,650}}</string>
                <key>sourceSize</key>
                <string>{1250,650}</string>
            </dict>
            <key>Texture_Map_00001_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1250,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1250,650}}</string>
                <key>sourceSize</key>
                <string>{1250,650}</string>
            </dict>
            <key>Texture_Map_00001_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,2},{1236,89}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{1236,89}}</string>
                <key>sourceSize</key>
                <string>{1250,89}</string>
            </dict>
            <key>Texture_Map_00001_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1764},{1194,51}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1194,51}}</string>
                <key>sourceSize</key>
                <string>{1250,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture_Map_00001.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66f0088ad371cb14c1923a202dfa507f:1/1$</string>
            <key>textureFileName</key>
            <string>Texture_Map_00001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
