<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Texture_Map_00011_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{1824,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1824,320}}</string>
                <key>sourceSize</key>
                <string>{1824,320}</string>
            </dict>
            <key>Texture_Map_00011_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{1824,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1824,235}}</string>
                <key>sourceSize</key>
                <string>{1824,235}</string>
            </dict>
            <key>Texture_Map_00011_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1824,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1824,650}}</string>
                <key>sourceSize</key>
                <string>{1824,650}</string>
            </dict>
            <key>Texture_Map_00011_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{1824,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1824,109}}</string>
                <key>sourceSize</key>
                <string>{1824,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture_Map_00011.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc4c70143b38bd860bca5dca2f39f63f:1/1$</string>
            <key>textureFileName</key>
            <string>Texture_Map_00011.pvr.ccz</string>
        </dict>
    </dict>
</plist>
