<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Texture_Map_10004_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,851},{75,188}}</string>
                <key>offset</key>
                <string>{-3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,156},{75,188}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{165,238}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,106},{165,238}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,269},{205,264}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,80},{205,264}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,535},{247,314}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,53},{247,314}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1693},{259,328}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,46},{259,328}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1693},{269,340}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{269,340}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{281,354}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,33},{281,354}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1073},{291,342}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{291,342}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1388},{303,350}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{303,350}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1073},{313,356}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{313,356}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1049},{325,364}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{325,364}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{335,370}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{335,370}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,363},{345,378}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{345,378}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{351,384}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,384}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,390}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,390}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{359,388}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,388}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,710},{361,374}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{361,374}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,169},{207,98}}</string>
                <key>offset</key>
                <string>{-8,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,265},{207,98}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,169},{207,98}}</string>
                <key>offset</key>
                <string>{-8,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,265},{207,98}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
            <key>Texture_Map_10004_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,169},{207,98}}</string>
                <key>offset</key>
                <string>{-8,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,265},{207,98}}</string>
                <key>sourceSize</key>
                <string>{379,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture_Map_10004.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42b2f3c6e798790e1367f8a9d8497615:1/1$</string>
            <key>textureFileName</key>
            <string>Texture_Map_10004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
