<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aef_zangeki_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1884},{67,99}}</string>
                <key>offset</key>
                <string>{94,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,71},{67,99}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{243,205}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{243,205}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,205}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{243,205}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{237,205}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{237,205}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{225,195}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{225,195}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{215,195}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{215,195}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{209,191}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{209,191}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{199,183}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{199,183}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1395},{181,179}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{181,179}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1576},{153,177}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,50},{153,177}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1731},{151,175}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,51},{151,175}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>aef_zangeki_L_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1884},{151,173}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,51},{151,173}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50_aef_zangeki_L.png</string>
            <key>size</key>
            <string>{247,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1303e0876dd273ae16d515933910634a:0a83dfebadd72e8bcb327cda85fbf773:19916ebf480bbca0b8c89967cba18d63$</string>
            <key>textureFileName</key>
            <string>50_aef_zangeki_L.png</string>
        </dict>
    </dict>
</plist>
