<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>q008_puzzle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,703},{14,15}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{14,15}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,826},{22,21}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{22,21}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,795},{30,29}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{30,29}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{38,37}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{38,37}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{42,45}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{42,45}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{64,73}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{78,63}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{78,63}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{68,71}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{68,71}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{80,65}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{80,65}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{72,75}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{72,75}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,77}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,77}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{76,69}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{76,69}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{88,67}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{88,67}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{80,71}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{80,71}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>q008_puzzle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{90,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{90,57}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>q008_puzzle.png</string>
            <key>size</key>
            <string>{81,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:507c447687e83fddf9b956370e428fab:dca325c4e6e8999d31a4c2e54e0d0b3e:e26597d32dd2066da8ebc2f3085fd036$</string>
            <key>textureFileName</key>
            <string>q008_puzzle.png</string>
        </dict>
    </dict>
</plist>
