<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>q098_bompanel_enhanced_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{110,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{110,98}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>q098_bompanel_enhanced_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{110,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{110,98}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>q098_bompanel_enhanced_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{110,98}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>q098_bompanel_enhanced.png</string>
            <key>size</key>
            <string>{302,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc47b6300abf0904f4989a310ccdf3eb:5678b8800d011d6ceaf97dd1f4cbd5aa:529aad5d6bb2b1b3ba919e5388bb2727$</string>
            <key>textureFileName</key>
            <string>q098_bompanel_enhanced.png</string>
        </dict>
    </dict>
</plist>
