<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>questclear_effect_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1105},{7,5}}</string>
                <key>offset</key>
                <string>{25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,54},{7,5}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1096},{9,7}}</string>
                <key>offset</key>
                <string>{25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,53},{9,7}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,690},{101,47}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{101,47}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,585},{103,49}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{103,49}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{113,57}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{113,57}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{115,59}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{115,59}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{119,59}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{119,59}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{121,59}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,59}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{123,59}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,59}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{143,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{143,59}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{143,59}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{141,55}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{141,55}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,145},{111,51}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{111,51}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{111,49}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,8},{111,49}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,367},{109,47}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,11},{109,47}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,258},{107,51}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,7},{107,51}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,478},{105,49}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,6},{105,49}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{107,51}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,4},{107,51}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,793},{103,47}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,6},{103,47}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1096},{47,13}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{47,13}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1054},{65,19}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{65,19}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1008},{67,23}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{67,23}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,927},{71,25}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{71,25}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,898},{71,27}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{71,27}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,981},{69,25}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{69,25}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,954},{69,25}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{69,25}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1033},{65,19}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{65,19}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1075},{63,19}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{63,19}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1096},{9,7}}</string>
                <key>offset</key>
                <string>{-42,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{9,7}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>questclear_effect_01_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1105},{5,5}}</string>
                <key>offset</key>
                <string>{-42,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{5,5}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>questclear_effect_01.png</string>
            <key>size</key>
            <string>{126,1115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c226d9d8367915a25c10b26e8d7a12da:f4a99ebc2c1f1873a14b6906057cbb45:bad0ccf87e04e2b2eb4b76b51440bcb2$</string>
            <key>textureFileName</key>
            <string>questclear_effect_01.png</string>
        </dict>
    </dict>
</plist>
