<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>questclear_effect_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1660},{122,31}}</string>
                <key>offset</key>
                <string>{13,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,55},{122,31}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1670},{124,33}}</string>
                <key>offset</key>
                <string>{13,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,54},{124,33}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1631},{128,37}}</string>
                <key>offset</key>
                <string>{14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,52},{128,37}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1590},{132,39}}</string>
                <key>offset</key>
                <string>{14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{132,39}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,436},{136,41}}</string>
                <key>offset</key>
                <string>{14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{136,41}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,59},{140,51}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{140,51}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{142,55}}</string>
                <key>offset</key>
                <string>{15,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{142,55}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,741},{148,59}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{148,59}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,802},{150,61}}</string>
                <key>offset</key>
                <string>{15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,40},{150,61}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1203},{154,65}}</string>
                <key>offset</key>
                <string>{15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,38},{154,65}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1446},{156,67}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,39},{156,67}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1270},{158,69}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{158,69}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1515},{162,73}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,38},{162,73}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{164,83}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,31},{164,83}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{164,89}}</string>
                <key>offset</key>
                <string>{17,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,29},{164,89}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1507},{162,95}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{162,95}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1341},{160,103}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,26},{160,103}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{166,111}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{166,111}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1101},{170,115}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{170,115}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,112},{158,139}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{158,139}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,272},{162,137}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{162,137}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1035},{166,149}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{166,149}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,865},{168,149}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{168,149}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{172,151}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{172,151}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{174,151}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{174,151}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{176,153}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{176,153}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{178,153}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{178,153}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{180,159}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{180,159}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{180,157}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{180,157}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,161}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{180,161}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,479},{132,135}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,24},{132,135}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,613},{126,133}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,25},{126,133}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{128,125}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{128,125}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1705},{122,117}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,39},{122,117}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1731},{122,117}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{122,117}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1935},{116,107}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{116,107}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1935},{116,107}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{116,107}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1824},{116,109}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{116,109}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1935},{88,79}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,54},{88,79}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1850},{82,71}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,59},{82,71}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1604},{32,67}}</string>
                <key>offset</key>
                <string>{-37,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,62},{32,67}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1762},{30,63}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{30,63}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1695},{30,65}}</string>
                <key>offset</key>
                <string>{-37,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,69},{30,65}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1590},{24,35}}</string>
                <key>offset</key>
                <string>{-35,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,74},{24,35}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1673},{20,31}}</string>
                <key>offset</key>
                <string>{-38,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,77},{20,31}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1627},{20,31}}</string>
                <key>offset</key>
                <string>{-38,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,81},{20,31}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1784},{16,17}}</string>
                <key>offset</key>
                <string>{-39,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,84},{16,17}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1784},{14,15}}</string>
                <key>offset</key>
                <string>{-39,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,89},{14,15}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,272},{6,5}}</string>
                <key>offset</key>
                <string>{-39,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,97},{6,5}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,118},{4,3}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,102},{4,3}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>questclear_effect_02_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,112},{4,3}}</string>
                <key>offset</key>
                <string>{-39,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{4,3}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>questclear_effect_02.png</string>
            <key>size</key>
            <string>{330,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0afb3220aa5a7a986afedc57657feec:bca26119b23be37fa23c9f3226f8b775:2a5a893a3e49552b6371cbab3c1c6798$</string>
            <key>textureFileName</key>
            <string>questclear_effect_02.png</string>
        </dict>
    </dict>
</plist>
