<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kaifuku_peace.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,103},{78,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{78,69}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>

			<key>q101_ringpanel.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,0},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{70,70}}</string>
				<key>sourceSize</key>
				<string>{79,85}</string>
			</dict>

			<key>q109_puzzleBL.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,173},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>q109_puzzleBL_ef.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,103},{119,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,102}}</string>
				<key>sourceSize</key>
				<string>{119,102}</string>
			</dict>

			<key>q109_puzzleGR.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,173},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>q109_puzzleGR_ef.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,103},{119,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,102}}</string>
				<key>sourceSize</key>
				<string>{119,102}</string>
			</dict>

			<key>q109_puzzlePU.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,77},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>q109_puzzlePU_ef.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{119,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,102}}</string>
				<key>sourceSize</key>
				<string>{119,102}</string>
			</dict>

			<key>q109_puzzleRE.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>q109_puzzleRE_ef.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{119,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,102}}</string>
				<key>sourceSize</key>
				<string>{119,102}</string>
			</dict>

			<key>q109_puzzleYE.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,154},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>q109_puzzleYE_ef.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{119,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,102}}</string>
				<key>sourceSize</key>
				<string>{119,102}</string>
			</dict>

			<key>quest_white_ball1.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,71},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{65,66}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>vitamin_puzzle_peace.png</string>
			</dict>
		</dict>
</plist>