<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Texture_Role_Goblinminer_act_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,316},{140,133}}</string>
                <key>offset</key>
                <string>{10,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,261},{140,133}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_act_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,187}}</string>
                <key>offset</key>
                <string>{13,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,207},{96,187}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_act_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{162,115}}</string>
                <key>offset</key>
                <string>{51,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,279},{162,115}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_act_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,913},{102,107}}</string>
                <key>offset</key>
                <string>{16,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,287},{102,107}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_act_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,125},{120,115}}</string>
                <key>offset</key>
                <string>{20,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,279},{120,115}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_down_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{152,71}}</string>
                <key>offset</key>
                <string>{-15,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,342},{152,71}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_down_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{160,63}}</string>
                <key>offset</key>
                <string>{-11,-165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,345},{160,63}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_down_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,164},{150,67}}</string>
                <key>offset</key>
                <string>{-16,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,344},{150,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_down_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{150,63}}</string>
                <key>offset</key>
                <string>{-16,-168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,348},{150,63}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_down_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{136,85}}</string>
                <key>offset</key>
                <string>{-11,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,325},{136,85}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_down_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,654},{102,95}}</string>
                <key>offset</key>
                <string>{11,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,314},{102,95}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_fly_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,797},{134,129}}</string>
                <key>offset</key>
                <string>{-25,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,270},{134,129}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_fly_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{146,131}}</string>
                <key>offset</key>
                <string>{-14,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,256},{146,131}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_fly_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,355},{150,83}}</string>
                <key>offset</key>
                <string>{-1,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,303},{150,83}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_hit_d_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,933},{82,127}}</string>
                <key>offset</key>
                <string>{-8,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,267},{82,127}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_hit_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{92,149}}</string>
                <key>offset</key>
                <string>{-5,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,247},{92,149}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_hit_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{92,151}}</string>
                <key>offset</key>
                <string>{-11,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,247},{92,151}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_hit_u_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,154},{114,139}}</string>
                <key>offset</key>
                <string>{-27,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,260},{114,139}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_hit_u_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,652},{100,143}}</string>
                <key>offset</key>
                <string>{-17,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,254},{100,143}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_hit_u_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,507},{104,143}}</string>
                <key>offset</key>
                <string>{-2,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,252},{104,143}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_standby_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,404},{104,127}}</string>
                <key>offset</key>
                <string>{9,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,267},{104,127}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_standby_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,782},{104,129}}</string>
                <key>offset</key>
                <string>{6,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,265},{104,129}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_standby_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,135},{100,129}}</string>
                <key>offset</key>
                <string>{4,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,265},{100,129}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_standby_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,295},{100,131}}</string>
                <key>offset</key>
                <string>{1,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,263},{100,131}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_standby_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{98,131}}</string>
                <key>offset</key>
                <string>{1,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,263},{98,131}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_standby_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,140},{98,131}}</string>
                <key>offset</key>
                <string>{0,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,263},{98,131}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_standby_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,458},{100,131}}</string>
                <key>offset</key>
                <string>{1,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,263},{100,131}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_standby_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,788},{100,131}}</string>
                <key>offset</key>
                <string>{3,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,263},{100,131}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_standby_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,273},{102,129}}</string>
                <key>offset</key>
                <string>{5,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,265},{102,129}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_standby_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,651},{104,129}}</string>
                <key>offset</key>
                <string>{7,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,265},{104,129}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_walk_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{128,121}}</string>
                <key>offset</key>
                <string>{9,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,268},{128,121}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_walk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{116,119}}</string>
                <key>offset</key>
                <string>{6,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,272},{116,119}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_walk_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,533},{92,119}}</string>
                <key>offset</key>
                <string>{5,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,270},{92,119}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_walk_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,559},{90,125}}</string>
                <key>offset</key>
                <string>{6,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,266},{90,125}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_walk_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,428},{122,129}}</string>
                <key>offset</key>
                <string>{1,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,264},{122,129}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_walk_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,652},{134,125}}</string>
                <key>offset</key>
                <string>{-1,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,268},{134,125}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_walk_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,266},{126,121}}</string>
                <key>offset</key>
                <string>{-2,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,270},{126,121}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_walk_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{106,121}}</string>
                <key>offset</key>
                <string>{0,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,270},{106,121}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_walk_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,933},{84,121}}</string>
                <key>offset</key>
                <string>{13,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,268},{84,121}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Goblinminer_walk_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,132},{96,123}}</string>
                <key>offset</key>
                <string>{8,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,266},{96,123}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture_Role_Goblinminer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:190319a4938de9cef17d55562569423b:1/1$</string>
            <key>textureFileName</key>
            <string>Texture_Role_Goblinminer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
