<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Texture_Role_bingshe_act_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,654},{132,107}}</string>
                <key>offset</key>
                <string>{-25,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,288},{132,107}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_act_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,254},{136,117}}</string>
                <key>offset</key>
                <string>{-30,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,277},{136,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_act_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,121},{182,85}}</string>
                <key>offset</key>
                <string>{2,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,309},{182,85}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_down_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,254},{152,83}}</string>
                <key>offset</key>
                <string>{-39,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,321},{152,83}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_down_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,339},{152,81}}</string>
                <key>offset</key>
                <string>{-38,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,321},{152,81}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_down_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{152,73}}</string>
                <key>offset</key>
                <string>{-38,-154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,329},{152,73}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_down_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,363},{152,69}}</string>
                <key>offset</key>
                <string>{-38,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,333},{152,69}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_down_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{152,67}}</string>
                <key>offset</key>
                <string>{-38,-157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,335},{152,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_down_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,361},{152,65}}</string>
                <key>offset</key>
                <string>{-38,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,337},{152,65}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_down_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{152,65}}</string>
                <key>offset</key>
                <string>{-38,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,337},{152,65}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_down_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,875},{118,117}}</string>
                <key>offset</key>
                <string>{-34,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,281},{118,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_fly_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,693},{128,133}}</string>
                <key>offset</key>
                <string>{-26,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,261},{128,133}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_fly_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,547},{146,105}}</string>
                <key>offset</key>
                <string>{-38,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,291},{146,105}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_fly_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,208},{180,99}}</string>
                <key>offset</key>
                <string>{-68,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,317},{180,99}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_hit_d_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,432},{118,105}}</string>
                <key>offset</key>
                <string>{-16,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,288},{118,105}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_hit_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,611},{124,111}}</string>
                <key>offset</key>
                <string>{-24,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,283},{124,111}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_hit_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,422},{146,123}}</string>
                <key>offset</key>
                <string>{-40,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,272},{146,123}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_hit_u_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,541},{118,105}}</string>
                <key>offset</key>
                <string>{-16,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,288},{118,105}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_hit_u_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,875},{124,103}}</string>
                <key>offset</key>
                <string>{-24,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,291},{124,103}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_hit_u_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,428},{146,111}}</string>
                <key>offset</key>
                <string>{-40,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,284},{146,111}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_standby_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{134,117}}</string>
                <key>offset</key>
                <string>{-25,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,277},{134,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_standby_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{134,117}}</string>
                <key>offset</key>
                <string>{-25,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,277},{134,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_standby_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{134,117}}</string>
                <key>offset</key>
                <string>{-26,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,277},{134,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_standby_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,828},{132,117}}</string>
                <key>offset</key>
                <string>{-25,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,277},{132,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_standby_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,611},{130,117}}</string>
                <key>offset</key>
                <string>{-25,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,277},{130,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_standby_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,743},{130,115}}</string>
                <key>offset</key>
                <string>{-25,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,278},{130,115}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_standby_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,788},{130,117}}</string>
                <key>offset</key>
                <string>{-25,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,277},{130,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_standby_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,828},{132,117}}</string>
                <key>offset</key>
                <string>{-25,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,277},{132,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_standby_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,492},{134,117}}</string>
                <key>offset</key>
                <string>{-26,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,277},{134,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_standby_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,373},{134,117}}</string>
                <key>offset</key>
                <string>{-25,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,277},{134,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_walk_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{228,115}}</string>
                <key>offset</key>
                <string>{-75,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,277},{228,115}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_walk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{192,117}}</string>
                <key>offset</key>
                <string>{-58,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,277},{192,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_walk_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,309},{212,121}}</string>
                <key>offset</key>
                <string>{-67,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,276},{212,121}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_walk_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,117},{246,123}}</string>
                <key>offset</key>
                <string>{-83,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,276},{246,123}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_walk_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,125}}</string>
                <key>offset</key>
                <string>{-102,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,277},{282,125}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_walk_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,129}}</string>
                <key>offset</key>
                <string>{-102,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,278},{282,129}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_walk_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,129},{242,123}}</string>
                <key>offset</key>
                <string>{-84,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,278},{242,123}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_walk_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,242},{226,117}}</string>
                <key>offset</key>
                <string>{-76,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,277},{226,117}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_walk_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{238,111}}</string>
                <key>offset</key>
                <string>{-81,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,277},{238,111}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_bingshe_walk_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{250,113}}</string>
                <key>offset</key>
                <string>{-86,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,276},{250,113}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture_Role_bingshe.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c320f9336748ff2702c1287ede1395b:1/1$</string>
            <key>textureFileName</key>
            <string>Texture_Role_bingshe.pvr.ccz</string>
        </dict>
    </dict>
</plist>
