<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Texture_Role_ant_act_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{146,67}}</string>
                <key>offset</key>
                <string>{-21,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,327},{146,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_act_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,77}}</string>
                <key>offset</key>
                <string>{-31,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,317},{152,77}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_act_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,67},{148,67}}</string>
                <key>offset</key>
                <string>{12,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,327},{148,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_act_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{150,65}}</string>
                <key>offset</key>
                <string>{23,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,329},{150,65}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_act_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,63}}</string>
                <key>offset</key>
                <string>{28,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,331},{152,63}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_act_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,69},{148,65}}</string>
                <key>offset</key>
                <string>{9,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,329},{148,65}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_down_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{132,77}}</string>
                <key>offset</key>
                <string>{-2,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,311},{132,77}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_down_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,136},{134,63}}</string>
                <key>offset</key>
                <string>{-3,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,331},{134,63}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_down_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,572},{132,69}}</string>
                <key>offset</key>
                <string>{-4,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,326},{132,69}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_down_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,610},{130,95}}</string>
                <key>offset</key>
                <string>{-3,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,299},{130,95}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_down_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{110,119}}</string>
                <key>offset</key>
                <string>{-21,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,275},{110,119}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_fly_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,643},{76,125}}</string>
                <key>offset</key>
                <string>{-30,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,260},{76,125}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_fly_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,511},{132,97}}</string>
                <key>offset</key>
                <string>{-4,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,249},{132,97}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_fly_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{148,65}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,248},{148,65}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_hit_d_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,562},{132,89}}</string>
                <key>offset</key>
                <string>{-8,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,305},{132,89}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_hit_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,483},{134,87}}</string>
                <key>offset</key>
                <string>{-11,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,307},{134,87}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_hit_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,136},{144,75}}</string>
                <key>offset</key>
                <string>{-12,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,319},{144,75}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_hit_u_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{134,75}}</string>
                <key>offset</key>
                <string>{-16,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,319},{134,75}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_hit_u_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,420},{134,89}}</string>
                <key>offset</key>
                <string>{-10,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,305},{134,89}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_hit_u_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,136},{146,67}}</string>
                <key>offset</key>
                <string>{-6,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,327},{146,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_standby_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{142,67}}</string>
                <key>offset</key>
                <string>{-8,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,327},{142,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_standby_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,284},{144,67}}</string>
                <key>offset</key>
                <string>{-9,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,327},{144,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_standby_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{144,67}}</string>
                <key>offset</key>
                <string>{-9,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,327},{144,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_standby_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,353},{144,65}}</string>
                <key>offset</key>
                <string>{-9,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,329},{144,65}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_standby_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{144,65}}</string>
                <key>offset</key>
                <string>{-8,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,329},{144,65}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_standby_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,347},{144,65}}</string>
                <key>offset</key>
                <string>{-8,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,329},{144,65}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_standby_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,278},{144,67}}</string>
                <key>offset</key>
                <string>{-7,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,327},{144,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_standby_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,272},{144,67}}</string>
                <key>offset</key>
                <string>{-8,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,327},{144,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_wark_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,213},{144,69}}</string>
                <key>offset</key>
                <string>{-7,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,326},{144,69}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_wark_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{144,71}}</string>
                <key>offset</key>
                <string>{-7,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,324},{144,71}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_wark_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,418},{142,69}}</string>
                <key>offset</key>
                <string>{-8,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,325},{142,69}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_wark_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,414},{142,67}}</string>
                <key>offset</key>
                <string>{-8,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,327},{142,67}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_ant_wark_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,205},{144,71}}</string>
                <key>offset</key>
                <string>{-7,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,323},{144,71}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture_Role_ant.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:200fee4f8482a96b01f5a5be16737ade:1/1$</string>
            <key>textureFileName</key>
            <string>Texture_Role_ant.pvr.ccz</string>
        </dict>
    </dict>
</plist>
