<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Texture_Role_Henpli_act_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,966},{178,167}}</string>
                <key>offset</key>
                <string>{-26,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,221},{178,167}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_act_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,789},{190,175}}</string>
                <key>offset</key>
                <string>{-40,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,214},{190,175}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_act_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{224,191}}</string>
                <key>offset</key>
                <string>{-17,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,199},{224,191}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_act_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{272,139}}</string>
                <key>offset</key>
                <string>{65,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,248},{272,139}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_act_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,151}}</string>
                <key>offset</key>
                <string>{77,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,238},{360,151}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_act_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{356,135}}</string>
                <key>offset</key>
                <string>{80,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,253},{356,135}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_act_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,139},{312,135}}</string>
                <key>offset</key>
                <string>{53,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,264},{312,135}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_act_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,143},{236,151}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,250},{236,151}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_down_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{170,175}}</string>
                <key>offset</key>
                <string>{-3,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,214},{170,175}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_down_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,276},{180,85}}</string>
                <key>offset</key>
                <string>{-8,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,305},{180,85}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_down_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,143},{178,93}}</string>
                <key>offset</key>
                <string>{-11,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,307},{178,93}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_down_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,526},{168,113}}</string>
                <key>offset</key>
                <string>{8,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,279},{168,113}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_down_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,377},{116,147}}</string>
                <key>offset</key>
                <string>{-3,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,254},{116,147}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_fly_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,954},{178,177}}</string>
                <key>offset</key>
                <string>{-14,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,204},{178,177}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_fly_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,761},{172,191}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,188},{172,191}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_fly_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,675},{150,163}}</string>
                <key>offset</key>
                <string>{-10,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,220},{150,163}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_hit_d_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,155},{220,131}}</string>
                <key>offset</key>
                <string>{-15,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,256},{220,131}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_hit_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,621},{166,141}}</string>
                <key>offset</key>
                <string>{-24,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,246},{166,141}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_hit_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1002},{160,171}}</string>
                <key>offset</key>
                <string>{-25,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,236},{160,171}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_hit_u_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1099},{158,177}}</string>
                <key>offset</key>
                <string>{-16,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,221},{158,177}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_hit_u_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1133},{160,161}}</string>
                <key>offset</key>
                <string>{-25,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,226},{160,161}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_hit_u_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,789},{186,163}}</string>
                <key>offset</key>
                <string>{-38,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,224},{186,163}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_standby_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,602},{194,157}}</string>
                <key>offset</key>
                <string>{-16,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,237},{194,157}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_standby_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,296},{204,157}}</string>
                <key>offset</key>
                <string>{-22,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,236},{204,157}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_standby_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,439},{208,161}}</string>
                <key>offset</key>
                <string>{-23,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,233},{208,161}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_standby_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{214,163}}</string>
                <key>offset</key>
                <string>{-25,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,230},{214,163}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_standby_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{222,163}}</string>
                <key>offset</key>
                <string>{-28,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,230},{222,163}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_standby_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,276},{218,161}}</string>
                <key>offset</key>
                <string>{-27,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,233},{218,161}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_standby_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{206,159}}</string>
                <key>offset</key>
                <string>{-21,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,235},{206,159}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_walk_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,935},{162,189}}</string>
                <key>offset</key>
                <string>{-27,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,216},{162,189}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_walk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{142,187}}</string>
                <key>offset</key>
                <string>{-20,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,215},{142,187}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_walk_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,323},{144,173}}</string>
                <key>offset</key>
                <string>{-13,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,213},{144,173}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_walk_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,498},{152,175}}</string>
                <key>offset</key>
                <string>{-10,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,215},{152,175}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_walk_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,840},{160,183}}</string>
                <key>offset</key>
                <string>{-12,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,217},{160,183}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_walk_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,455},{164,197}}</string>
                <key>offset</key>
                <string>{-18,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,215},{164,197}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_walk_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,621},{166,193}}</string>
                <key>offset</key>
                <string>{-26,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,213},{166,193}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_Henpli_walk_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{166,191}}</string>
                <key>offset</key>
                <string>{-34,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,215},{166,191}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture_Role_Henpli.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37a00e19236743d99d891b62986fdb5d:1/1$</string>
            <key>textureFileName</key>
            <string>Texture_Role_Henpli.pvr.ccz</string>
        </dict>
    </dict>
</plist>
