<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Texture_Role_niutouweibing_act_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,161},{204,259}}</string>
                <key>offset</key>
                <string>{-44,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,137},{204,259}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_act_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{206,271}}</string>
                <key>offset</key>
                <string>{-23,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,126},{206,271}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_act_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,161}}</string>
                <key>offset</key>
                <string>{59,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,236},{318,161}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_act_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{316,157}}</string>
                <key>offset</key>
                <string>{60,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,239},{316,157}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_down_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,707},{228,131}}</string>
                <key>offset</key>
                <string>{-65,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,289},{228,131}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_down_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,579},{228,139}}</string>
                <key>offset</key>
                <string>{-61,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,284},{228,139}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_down_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,407},{234,113}}</string>
                <key>offset</key>
                <string>{-55,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,310},{234,113}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_fly_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,210},{186,199}}</string>
                <key>offset</key>
                <string>{-46,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,194},{186,199}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_fly_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,210},{236,195}}</string>
                <key>offset</key>
                <string>{-56,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,204},{236,195}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_fly_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1050},{212,189}}</string>
                <key>offset</key>
                <string>{-62,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,219},{212,189}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_hit_d_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1017},{214,151}}</string>
                <key>offset</key>
                <string>{-38,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,243},{214,151}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_hit_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1099},{214,149}}</string>
                <key>offset</key>
                <string>{-39,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,244},{214,149}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_hit_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1241},{202,161}}</string>
                <key>offset</key>
                <string>{-20,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,232},{202,161}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_hit_u_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,889},{214,159}}</string>
                <key>offset</key>
                <string>{-16,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,235},{214,159}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_hit_u_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,720},{222,167}}</string>
                <key>offset</key>
                <string>{-29,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,229},{222,167}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_hit_u_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{178,215}}</string>
                <key>offset</key>
                <string>{-52,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,182},{178,215}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_standby_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1170},{206,173}}</string>
                <key>offset</key>
                <string>{-23,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,221},{206,173}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_standby_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1241},{194,173}}</string>
                <key>offset</key>
                <string>{-21,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,221},{194,173}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_standby_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,398},{194,179}}</string>
                <key>offset</key>
                <string>{-22,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,215},{194,179}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_standby_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1250},{202,183}}</string>
                <key>offset</key>
                <string>{-28,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,211},{202,183}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_standby_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,914},{216,183}}</string>
                <key>offset</key>
                <string>{-33,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,211},{216,183}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_standby_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{228,179}}</string>
                <key>offset</key>
                <string>{-36,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,215},{228,179}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_standby_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,840},{218,175}}</string>
                <key>offset</key>
                <string>{-30,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,219},{218,175}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_walk_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{234,181}}</string>
                <key>offset</key>
                <string>{-46,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,212},{234,181}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_walk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,367},{236,179}}</string>
                <key>offset</key>
                <string>{-47,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,216},{236,179}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_walk_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,548},{232,181}}</string>
                <key>offset</key>
                <string>{-43,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,212},{232,181}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_walk_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{248,185}}</string>
                <key>offset</key>
                <string>{-24,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,209},{248,185}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_walk_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{242,183}}</string>
                <key>offset</key>
                <string>{-10,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,210},{242,183}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_walk_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{222,177}}</string>
                <key>offset</key>
                <string>{-8,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,216},{222,177}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_walk_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{202,179}}</string>
                <key>offset</key>
                <string>{-25,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,212},{202,179}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_walk_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,731},{222,181}}</string>
                <key>offset</key>
                <string>{-37,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,209},{222,181}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
            <key>Texture_Role_niutouweibing_walk_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,522},{232,183}}</string>
                <key>offset</key>
                <string>{-44,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,209},{232,183}}</string>
                <key>sourceSize</key>
                <string>{520,423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture_Role_niutouweibing.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80c9f1f605d7828fc09faba79357ef9e:1/1$</string>
            <key>textureFileName</key>
            <string>Texture_Role_niutouweibing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
