<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ca01fukong2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,658},{142,264}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,235},{142,264}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,498},{140,254}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,250},{140,254}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,346},{114,342}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,147},{114,342}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,342}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,111},{114,342}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{114,342}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,75},{114,342}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,342}}</string>
                <key>offset</key>
                <string>{0,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,36},{114,342}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{146,276}}</string>
                <key>offset</key>
                <string>{0,191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,19},{146,276}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,274},{158,222}}</string>
                <key>offset</key>
                <string>{0,218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,19},{158,222}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,274},{158,222}}</string>
                <key>offset</key>
                <string>{0,224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,13},{158,222}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,274},{158,222}}</string>
                <key>offset</key>
                <string>{0,230}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,7},{158,222}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,274},{158,222}}</string>
                <key>offset</key>
                <string>{0,234}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,3},{158,222}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,274},{158,222}}</string>
                <key>offset</key>
                <string>{0,237}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{158,222}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2013.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,498},{158,264}}</string>
                <key>offset</key>
                <string>{-1,216}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{158,264}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,684},{274,270}}</string>
                <key>offset</key>
                <string>{0,197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{274,270}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{274,270}}</string>
                <key>offset</key>
                <string>{0,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,62},{274,270}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{274,270}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,117},{274,270}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,690},{274,270}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,176},{274,270}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,266},{176,242}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,256},{176,242}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,266},{176,242}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,256},{176,242}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,266},{176,242}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,256},{176,242}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2021.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,266},{176,242}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,256},{176,242}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,266},{176,242}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,256},{176,242}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2023.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,266},{176,242}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,256},{176,242}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2024.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,510},{172,262}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,236},{172,262}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
            <key>ca01fukong2025.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{178,262}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,235},{178,262}}</string>
                <key>sourceSize</key>
                <string>{320,696}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ca01fukong2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31732e2f6fac486f110c8483ad29ed94$</string>
            <key>textureFileName</key>
            <string>ca01fukong2.png</string>
        </dict>
    </dict>
</plist>
