<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_dilei_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1390},{496,478}}</string>
                <key>offset</key>
                <string>{69,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,164},{496,478}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Effect_dilei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{560,540}}</string>
                <key>offset</key>
                <string>{72,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,133},{560,540}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Effect_dilei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{576,510}}</string>
                <key>offset</key>
                <string>{70,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,127},{576,510}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Effect_dilei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{570,458}}</string>
                <key>offset</key>
                <string>{67,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,163},{570,458}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Effect_dilei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,414}}</string>
                <key>offset</key>
                <string>{56,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,205},{598,414}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Effect_dilei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{546,394}}</string>
                <key>offset</key>
                <string>{36,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,218},{546,394}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Effect_dilei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,736},{508,326}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,226},{508,326}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Effect_dilei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,550},{390,184}}</string>
                <key>offset</key>
                <string>{103,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,246},{390,184}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Effect_dilei.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b31ef54a018a973c2a6dc008d847741:1/1$</string>
            <key>textureFileName</key>
            <string>Effect_dilei.png</string>
        </dict>
    </dict>
</plist>
