<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jingzhang_skill1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,256},{120,164}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,318},{120,164}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,168},{156,146}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,336},{156,146}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{176,150}}</string>
                <key>offset</key>
                <string>{27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,331},{176,150}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{116,176}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,313},{116,176}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,182}}</string>
                <key>offset</key>
                <string>{25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,299},{130,182}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,154},{100,170}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,311},{100,170}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,420},{108,130}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,348},{108,130}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,530},{96,96}}</string>
                <key>offset</key>
                <string>{-6,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,297},{96,96}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{102,88}}</string>
                <key>offset</key>
                <string>{-13,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,303},{102,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,478},{104,84}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,288},{104,84}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,530},{86,102}}</string>
                <key>offset</key>
                <string>{9,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,256},{86,102}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,378},{98,138}}</string>
                <key>offset</key>
                <string>{-17,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,220},{98,138}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{146,164}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,295},{146,164}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,316},{102,138}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,341},{102,138}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{134,152}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,329},{134,152}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>Jingzhang_skill1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{120,166}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,315},{120,166}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jingzhang_skill1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:486212515a1ef921014508fe88c191de:1/1$</string>
            <key>textureFileName</key>
            <string>Jingzhang_skill1.png</string>
        </dict>
    </dict>
</plist>
