<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10158_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10158_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,122},{94,118}}</string>
                <key>offset</key>
                <string>{4,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,278},{94,118}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10158_sps_all.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aae5e28c04a16890f2776fc6971367bf:aeaffc2b70358bad373f3e8c54e6f7d1:d7764e3b33691e5d5364c85b55d7cc84$</string>
            <key>textureFileName</key>
            <string>pri_10158_sps_all.png</string>
        </dict>
    </dict>
</plist>
