<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00003_body_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{970,1254}}</string>
                <key>offset</key>
                <string>{248,229}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{787,294},{970,1254}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00003_blink_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1258},{504,584}}</string>
                <key>offset</key>
                <string>{-31,650}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{741,208},{504,584}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00003_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{504,584}}</string>
                <key>offset</key>
                <string>{-31,650}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{741,208},{504,584}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00003_sps_zoom.png</string>
            <key>size</key>
            <string>{1014,1844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb546ee4bb192d32ac2a980979c02833:ae2158cd5cbf8d0122fee039a58bc90b:2fa180c7f418b41e302d6c77c647d859$</string>
            <key>textureFileName</key>
            <string>pri_00003_sps_zoom.png</string>
        </dict>
    </dict>
</plist>
