<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00069_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,106},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,106},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,314},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,106},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,314},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,106},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,314},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,106},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,314},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,106},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,314},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00069_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,210},{104,102}}</string>
                <key>offset</key>
                <string>{6,372}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,296},{104,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00069_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:084464a5a57620f34c44897dfee9c194:fb62b3d1ed86c56dc1cae283c88ea25c:e474eaf41f02de3778404fc00893d6c1$</string>
            <key>textureFileName</key>
            <string>pri_00069_sps_all.png</string>
        </dict>
    </dict>
</plist>
