<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00008_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,882},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,772},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,662},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,552},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,442},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,332},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,112},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,772},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,882},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,772},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,662},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,552},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,442},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,332},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,222},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_15 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,552},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,552},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_16 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,332},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,332},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_17 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,112},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,112},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_18 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,772},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,772},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_19 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,772},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,772},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_20 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,552},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,552},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_21 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,332},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,332},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_22 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_23 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_24 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_25 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_26 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_27 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00008_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{4,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,287},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00008_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0a3136f838bd3e6a024f871d29aa243:4e715e4d5e1d7bec2acd2d8d98f00892:0b552127cda37c9164b0cb2b7b8e6a05$</string>
            <key>textureFileName</key>
            <string>pri_00008_sps_all.png</string>
        </dict>
    </dict>
</plist>
