<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00092_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,536},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,536},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,536},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,180},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,536},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,536},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,358},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,536},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,536},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,536},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00092_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,536},{138,176}}</string>
                <key>offset</key>
                <string>{2,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,237},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00092_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ffe31362c3d3d4de82464b1bfbe0796:df5c0f4062e5a036ca92142dd90fb262:be12c38b4a6dc13583e62face100092d$</string>
            <key>textureFileName</key>
            <string>pri_00092_sps_all.png</string>
        </dict>
    </dict>
</plist>
