<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00053_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,1176}}</string>
                <key>offset</key>
                <string>{-17,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,238},{582,1176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00053_sps.png</string>
            <key>size</key>
            <string>{586,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d6c87f3318f24f3073f87517ebe4638:5c426c4078d4ddb2bf0ae4eb950a7a5e:78acb25801ede38b0e7a39b1f39b4c14$</string>
            <key>textureFileName</key>
            <string>pri_00053_sps.png</string>
        </dict>
    </dict>
</plist>
