<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10005_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,160},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,318},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,160},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,318},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,160},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,318},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,318},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,318},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,160},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,160},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,318},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10005_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,318},{150,156}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,234},{150,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10005_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:278e84cbe1929c8067bf40cca7a94528:5bf3c08408a95c8979e164552333bed5:fa6aed1a29675fdacd87b92ad216167a$</string>
            <key>textureFileName</key>
            <string>pri_10005_sps_all.png</string>
        </dict>
    </dict>
</plist>
