<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00034_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,314},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,626},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,314},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,626},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,314},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,626},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,470},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,782},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00034_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,158},{162,154}}</string>
                <key>offset</key>
                <string>{4,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,240},{162,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00034_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aa8bf62b782d19bbf9707dcfd283513:7afc0f06d432e85e48ddb786b2558e8d:2dfe6b56be11f0433a52784cde319859$</string>
            <key>textureFileName</key>
            <string>pri_00034_sps_all.png</string>
        </dict>
    </dict>
</plist>
