<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00085_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,886}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,332},{366,886}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00085_sps.png</string>
            <key>size</key>
            <string>{370,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29f1e2265ef2e4a5d4273b28f7cead8b:52ac46c49c2e506a385cd9762b4b721a:a55d804d26a422d67ad3727e320bfae9$</string>
            <key>textureFileName</key>
            <string>pri_00085_sps.png</string>
        </dict>
    </dict>
</plist>
