<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00098_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,936}}</string>
                <key>offset</key>
                <string>{-23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,243},{566,936}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00098_sps.png</string>
            <key>size</key>
            <string>{570,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:413da1418ac0bcdc56d4aeb15df2533b:2a459048137fee8fa1335f079420443d:2a416d92f1b5b9e97ffea4dc02d2352c$</string>
            <key>textureFileName</key>
            <string>pri_00098_sps.png</string>
        </dict>
    </dict>
</plist>
