<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00067_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,98}}</string>
                <key>offset</key>
                <string>{3,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,301},{90,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{90,98}}</string>
                <key>offset</key>
                <string>{3,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,301},{90,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{90,98}}</string>
                <key>offset</key>
                <string>{3,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,301},{90,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{90,98}}</string>
                <key>offset</key>
                <string>{3,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,301},{90,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,402},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,102},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,202},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,302},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,502},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,602},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,702},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,802},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,902},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,402},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,102},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,202},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,302},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,502},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{90,98}}</string>
                <key>offset</key>
                <string>{3,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,301},{90,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{90,98}}</string>
                <key>offset</key>
                <string>{3,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,301},{90,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{90,98}}</string>
                <key>offset</key>
                <string>{3,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,301},{90,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{90,98}}</string>
                <key>offset</key>
                <string>{3,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,301},{90,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,202},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,202},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,502},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,502},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,702},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,702},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,902},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,902},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,202},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,202},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,502},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00067_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,502},{88,98}}</string>
                <key>offset</key>
                <string>{4,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,301},{88,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00067_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9085a31258924c54d987c34d0347d665:52a2f5d909ed66e483ff05dd0641b912:8107e80115dd2340347e3e6b31c79b77$</string>
            <key>textureFileName</key>
            <string>pri_00067_sps_all.png</string>
        </dict>
    </dict>
</plist>
