<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00045_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,730},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,730},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,730},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,730},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,730},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,184},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,366},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00045_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,548},{174,180}}</string>
                <key>offset</key>
                <string>{15,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,213},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00045_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24edea0337cb838bb507d36e30280508:9a7b1f702503a0c83e0a577f8cb46c82:d6828101e2d91843f132c9560bcfaaae$</string>
            <key>textureFileName</key>
            <string>pri_00045_sps_all.png</string>
        </dict>
    </dict>
</plist>
