<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00040_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,334},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,334},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,334},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,334},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,334},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,666},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,666},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,168},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,334},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,334},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,334},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,334},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,500},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,666},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00040_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,666},{160,164}}</string>
                <key>offset</key>
                <string>{0,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,252},{160,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00040_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d9f2df8e6d966aa5b313f4bb5b53fb:903bb60ff88cd17b6213276db1dab4e8:c80d9fe35723222e7faa3d30b31adad1$</string>
            <key>textureFileName</key>
            <string>pri_00040_sps_all.png</string>
        </dict>
    </dict>
</plist>
