<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00159_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,234},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,118},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00159_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,350},{94,114}}</string>
                <key>offset</key>
                <string>{-5,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,272},{94,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00159_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:314c729b6d0878d14b47cff87eb21249:f6851abb2c2ba0e292b6438e7d73cf09:918b91b15bdb881186228467a4c48aa6$</string>
            <key>textureFileName</key>
            <string>pri_00159_sps_all.png</string>
        </dict>
    </dict>
</plist>
