<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>90002_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,700}}</string>
                <key>offset</key>
                <string>{12,329}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{756,471},{560,700}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_90002_sps.png</string>
            <key>size</key>
            <string>{564,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65a8f5f570dac0612181c1bf3a2fa56d:eeb2f5cb86d3c91d6e7858470acef8f2:e4d60ddb4123960c1b775325fe13b372$</string>
            <key>textureFileName</key>
            <string>pri_90002_sps.png</string>
        </dict>
    </dict>
</plist>
