<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00073_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,682},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,172},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,342},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,512},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,682},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00073_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,682},{156,168}}</string>
                <key>offset</key>
                <string>{3,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,252},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00073_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9723760902d85178561108eabc12a88:d754d639ca877aac8de58aac6dea31ce:3ee0d060bfa10d637d5cecbeb2a5f30e$</string>
            <key>textureFileName</key>
            <string>pri_00073_sps_all.png</string>
        </dict>
    </dict>
</plist>
