<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00088_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,1000}}</string>
                <key>offset</key>
                <string>{1,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,363},{378,1000}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00088_sps.png</string>
            <key>size</key>
            <string>{382,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd030780e46ff33d945d019e54087cb1:7f16184f738333e65d20a2996f8019cb:95ee6cdea059f7a043dd9bcafb525da1$</string>
            <key>textureFileName</key>
            <string>pri_00088_sps.png</string>
        </dict>
    </dict>
</plist>
