<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00091_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,100},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,100},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,100},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,198},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,198},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,198},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,394},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,394},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,394},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,492},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,492},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,492},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,100},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,100},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,198},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,198},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,296},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,394},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,394},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,394},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,394},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,492},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,492},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,492},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00091_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,492},{104,96}}</string>
                <key>offset</key>
                <string>{7,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,308},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00091_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc7fb2c9a6e229c471374aa4d6f5549c:c5a3d2f908e50316d248c45c483ae7aa:b695d54eddf94fc82c32b0c43a1b2ff2$</string>
            <key>textureFileName</key>
            <string>pri_00091_sps_all.png</string>
        </dict>
    </dict>
</plist>
