<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00042_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,230},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,230},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,230},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,230},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,458},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,458},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,458},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,458},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,116},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,230},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,230},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,230},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,230},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,344},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,458},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,458},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,458},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,458},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00042_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{88,112}}</string>
                <key>offset</key>
                <string>{2,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,289},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00042_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f285a5b31510ec7998b6110364b9664:baf4ba18e1e68bdc2ecf8e8a55af139d:e7621add371faf1c3e25ca728ed78181$</string>
            <key>textureFileName</key>
            <string>pri_00042_sps_all.png</string>
        </dict>
    </dict>
</plist>
