<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00031_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,106},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,210},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,314},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,418},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,522},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,626},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,730},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,834},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,106},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,210},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,314},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,418},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,522},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,626},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,730},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,210},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,210},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,418},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,418},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,626},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,626},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,834},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,834},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,106},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,106},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,314},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,314},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,522},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,522},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,730},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00031_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,730},{98,102}}</string>
                <key>offset</key>
                <string>{-1,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,299},{98,102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00031_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9ec6a46c54ef5d405bd1b6290dea3b8:996384475953ea373df23ec18d14397b:a708c4629f297a4e29252104fa260141$</string>
            <key>textureFileName</key>
            <string>pri_00031_sps_all.png</string>
        </dict>
    </dict>
</plist>
