<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00014_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,514},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,386},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,258},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,130},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,514},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,386},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,770},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,642},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,514},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,386},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,258},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,130},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,770},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,642},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,514},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,386},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,258},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,130},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,130},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,130},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,386},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,386},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,770},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,770},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,514},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,514},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,258},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,258},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{124,126}}</string>
                <key>offset</key>
                <string>{32,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{610,287},{124,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,642},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,642},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,386},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,386},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,130},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,130},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00014_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,126}}</string>
                <key>offset</key>
                <string>{28,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{602,287},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00014_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55f974d386f4240886be3cc7423496bf:0c11084768556f51cde9ed99b45a0074:e4751fd66e165f44740f2df532f04577$</string>
            <key>textureFileName</key>
            <string>pri_00014_sps_all.png</string>
        </dict>
    </dict>
</plist>
