<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00020_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,714},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,536},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,714},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,536},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,714},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,536},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,714},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,536},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,536},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,536},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,714},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,714},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,536},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,536},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,180},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00020_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,176}}</string>
                <key>offset</key>
                <string>{10,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,230},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00020_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19cbe8c3ff8ef57e78cb26e5005eb19b:2597c51ea222bf94da5b31b14fc8456b:1848824f5c46f1c5e20bf2e841a9f7f2$</string>
            <key>textureFileName</key>
            <string>pri_00020_sps_all.png</string>
        </dict>
    </dict>
</plist>
