<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00161_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,1122}}</string>
                <key>offset</key>
                <string>{-2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,221},{408,1122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00161_sps.png</string>
            <key>size</key>
            <string>{412,1126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c611875edaf63f359ce0381e06506bb3:91540d0420aaec04b6ce6cdf168ae9b2:9ef9e5c222bc66dab0114c0e59d94087$</string>
            <key>textureFileName</key>
            <string>pri_00161_sps.png</string>
        </dict>
    </dict>
</plist>
