<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00087_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,334},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,666},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,832},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,334},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,334},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,334},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,666},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,832},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,168},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,832},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,832},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,334},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,334},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,832},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,832},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00087_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,500},{182,164}}</string>
                <key>offset</key>
                <string>{-1,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,239},{182,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00087_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:215f33e7ca61e5ff3698f46adda667b0:23e6ac73f51f65b97a534f64d3f07762:bbc4ec685fe56b474998f1dde75cedeb$</string>
            <key>textureFileName</key>
            <string>pri_00087_sps_all.png</string>
        </dict>
    </dict>
</plist>
