<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00078_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,674},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,170},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,338},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,506},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,674},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00078_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,674},{158,166}}</string>
                <key>offset</key>
                <string>{-14,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,224},{158,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00078_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68df62dc7ac16bb4a398671b9655a7ae:6a256b0c03aea33e3fd99c39bf31330b:302a308953182298f711ab7a7069e1f4$</string>
            <key>textureFileName</key>
            <string>pri_00078_sps_all.png</string>
        </dict>
    </dict>
</plist>
