<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00084_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{526,1102}}</string>
                <key>offset</key>
                <string>{34,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,196},{526,1102}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00084_sps.png</string>
            <key>size</key>
            <string>{530,1106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d237279e14f4b85a2d369553285ce8c:2088c36aefcaa0a9cd2592b6e88f9967:87f015757c4c87b83d23862621739fa1$</string>
            <key>textureFileName</key>
            <string>pri_00084_sps.png</string>
        </dict>
    </dict>
</plist>
