<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00017_body_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1138,1090}}</string>
                <key>offset</key>
                <string>{56,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{511,491},{1138,1090}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00017_blink_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{534,584}}</string>
                <key>offset</key>
                <string>{47,641}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{804,217},{534,584}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00017_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1094},{534,584}}</string>
                <key>offset</key>
                <string>{47,641}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{804,217},{534,584}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00017_sps_zoom.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3526d259ef73b8b6e98a74615a14290:edd3dca57b4e88d0e41de0b0ed23a87f:ff68c9cc843e60d469e52eaa9589ee02$</string>
            <key>textureFileName</key>
            <string>pri_00017_sps_zoom.png</string>
        </dict>
    </dict>
</plist>
