<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00007_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,266},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,398},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,530},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,662},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,794},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,266},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,398},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,530},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,662},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,794},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,266},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,398},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,530},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,662},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,398},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,398},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,662},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,662},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,266},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,266},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,530},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,530},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,794},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,794},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,134},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,398},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,398},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,662},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00007_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,662},{94,130}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,274},{94,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00007_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcaac15a08566afde870d590e99f4b1f:ac49cb15dede5e1de54ed18301da8d92:1dbc94a214abc96b3918c09289856a2d$</string>
            <key>textureFileName</key>
            <string>pri_00007_sps_all.png</string>
        </dict>
    </dict>
</plist>
