<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00074_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,302},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,302},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,302},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,302},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,302},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,302},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,302},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,302},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,402},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00074_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,295},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00074_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:474666cd1b079e0531b797c95a898cc1:7b94280638815d9c1a2d018730422244:f6db31e16655ba29f5741f6cb060d979$</string>
            <key>textureFileName</key>
            <string>pri_00074_sps_all.png</string>
        </dict>
    </dict>
</plist>
