<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_60030_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,132},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_60030_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,262},{96,128}}</string>
                <key>offset</key>
                <string>{-3,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{589,270},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_60030_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73c5eaae14ec8c20a4ab3fedc659ce3d:6080a02a21e091eca1d5de01ad5203e2:6f40baa2722b6338410d0fd1b3c0555b$</string>
            <key>textureFileName</key>
            <string>pri_60030_sps_all.png</string>
        </dict>
    </dict>
</plist>
