<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10160_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,142},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,282},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,142},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,142},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,282},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,282},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,142},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,142},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10160_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,138}}</string>
                <key>offset</key>
                <string>{5,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,276},{106,138}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10160_sps_all.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a776485dcd13f476373fe007a5ef6847:301b0dd207d685097d943b768bd87be6:535a35a0e06fc9788aa26b3268b6b159$</string>
            <key>textureFileName</key>
            <string>pri_10160_sps_all.png</string>
        </dict>
    </dict>
</plist>
