<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00006_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,662},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,662},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,662},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,662},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,794},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,662},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,530},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,530},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,530},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,398},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,398},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,398},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,266},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,266},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,266},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,134},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,134},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,134},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_15 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,662},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,662},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_16 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,662},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,662},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_17 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,530},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,530},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_18 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_19 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_20 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,398},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,398},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_21 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_22 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,266},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,266},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_23 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_24 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,134},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,134},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_25 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_26 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_27 _blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00006_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,130}}</string>
                <key>offset</key>
                <string>{-3,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,286},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00006_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb1b8a519bac5c646b8c302e7de20304:60d50e69dc11cffb106493516ded64a2:6c631510de78755cec869f720ddca0c7$</string>
            <key>textureFileName</key>
            <string>pri_00006_sps_all.png</string>
        </dict>
    </dict>
</plist>
