<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10004_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,1018}}</string>
                <key>offset</key>
                <string>{-1,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,140},{482,1018}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10004_sps.png</string>
            <key>size</key>
            <string>{486,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc1933e8ee7675f4d71e5ab1ec1432b9:ec3df99ca1f3f7e1b9cc1df64ae1f531:feff2d04c40b678e3087afcede743934$</string>
            <key>textureFileName</key>
            <string>pri_10004_sps.png</string>
        </dict>
    </dict>
</plist>
