<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00016_body_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{838,1212}}</string>
                <key>offset</key>
                <string>{-94,175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{511,369},{838,1212}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00016_blink_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{578,610}}</string>
                <key>offset</key>
                <string>{3,707}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{738,138},{578,610}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00016_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,614},{578,610}}</string>
                <key>offset</key>
                <string>{3,707}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{738,138},{578,610}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00016_sps_zoom.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e72f0e5a64a044c140f9cf1a10a2a085:cf043e0a8c014a8b9394b4dbc240ab93:83fee60620a2aef364e29215cf8a332c$</string>
            <key>textureFileName</key>
            <string>pri_00016_sps_zoom.png</string>
        </dict>
    </dict>
</plist>
