<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00077_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,1066}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,256},{446,1066}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00077_sps.png</string>
            <key>size</key>
            <string>{450,1070}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4833234ff95b10a9fd5df1b716875ec:046bd9ed2e8fec4d3df7c32d8423509f:fd80200c62be314990b59ac683d581c1$</string>
            <key>textureFileName</key>
            <string>pri_00077_sps.png</string>
        </dict>
    </dict>
</plist>
