<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_20160_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,128},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,128},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,128},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,254},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,254},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,254},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,128},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,128},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,128},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,128},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,254},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,254},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,254},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20160_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,254},{110,124}}</string>
                <key>offset</key>
                <string>{11,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,309},{110,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_20160_sps_all.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa1e08a7af6fcae171d688a5216ee7c1:636fbe1a6b8319bc30d3bd015d8e3dbf:e148dbdd67d168d34e4bc449c49d5c0c$</string>
            <key>textureFileName</key>
            <string>pri_20160_sps_all.png</string>
        </dict>
    </dict>
</plist>
