<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>90001_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{958,902}}</string>
                <key>offset</key>
                <string>{-141,261}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,438},{958,902}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_90001_sps.png</string>
            <key>size</key>
            <string>{962,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7543e45e5c106989466e4a2e27985467:0e9ed333d8b0ff521e44707bfbd591ea:9013985943425fad2be441e244057483$</string>
            <key>textureFileName</key>
            <string>pri_90001_sps.png</string>
        </dict>
    </dict>
</plist>
