<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00016_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,1120}}</string>
                <key>offset</key>
                <string>{3,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,242},{312,1120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00016_sps.png</string>
            <key>size</key>
            <string>{316,1124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78ad6bc638a84bb90c651c58e77fb1e9:bdf4eac1cf47b7c927007edd946a5529:04a76f20f70c1e21699d7821e3702a32$</string>
            <key>textureFileName</key>
            <string>pri_00016_sps.png</string>
        </dict>
    </dict>
</plist>
