<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00053_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,98},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00053_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,194},{104,94}}</string>
                <key>offset</key>
                <string>{-3,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,307},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00053_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8113ba708ad2dfe49821d53032920793:f96cb66410c0dbfcc0f5652bdb847085:fd117167cd0fd373743fb0124fa74ff4$</string>
            <key>textureFileName</key>
            <string>pri_00053_sps_all.png</string>
        </dict>
    </dict>
</plist>
