<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10011_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,382},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,382},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,382},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,382},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10011_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,192},{244,188}}</string>
                <key>offset</key>
                <string>{-10,385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,240},{244,188}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10011_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66038156678e5c697a3559d3f994cb71:3d2f0832e88f1df70c7493c03a685d89:18334936f65dc617bf4bc4fd0acbf069$</string>
            <key>textureFileName</key>
            <string>pri_10011_sps_all.png</string>
        </dict>
    </dict>
</plist>
