<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00158_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,1112}}</string>
                <key>offset</key>
                <string>{-22,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,231},{500,1112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00158_sps.png</string>
            <key>size</key>
            <string>{504,1116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39905a880b89f5d839c42c9fffd73ebb:2c36169a05aa90611dbcdd86b1fe7057:e52e94c08624e005aef13b6d733ade56$</string>
            <key>textureFileName</key>
            <string>pri_00158_sps.png</string>
        </dict>
    </dict>
</plist>
