<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00161_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,118},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,234},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,350},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,466},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,582},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,582},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,698},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,814},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,118},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,234},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,350},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,466},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,582},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,698},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,814},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,234},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,234},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,466},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,466},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,582},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,582},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,814},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,814},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,118},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,118},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,350},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,350},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,582},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,582},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,814},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00161_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,814},{88,114}}</string>
                <key>offset</key>
                <string>{1,374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,288},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00161_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd3e7b931277c79e0cff6e06fb3d6d1c:a23d3c3091c6d98d31576f1b41545cbd:4338be95ed91bc0802de66663ca9bf9c$</string>
            <key>textureFileName</key>
            <string>pri_00161_sps_all.png</string>
        </dict>
    </dict>
</plist>
