<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00014_body_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1134,1442}}</string>
                <key>offset</key>
                <string>{55,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,139},{1134,1442}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00014_blink_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{518,608}}</string>
                <key>offset</key>
                <string>{17,682}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{782,164},{518,608}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00014_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,612},{518,608}}</string>
                <key>offset</key>
                <string>{17,682}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{782,164},{518,608}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00014_sps_zoom.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8741f189ff88046d91697de4208f5508:1485ea8b87bf7908b44296c1555a6f29:9b627fff3beddac896e9284225ce6678$</string>
            <key>textureFileName</key>
            <string>pri_00014_sps_zoom.png</string>
        </dict>
    </dict>
</plist>
