<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00041_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,310},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,618},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,772},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,310},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,310},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,310},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,618},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,772},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,156},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,772},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,772},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,310},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,310},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,772},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,772},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00041_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,464},{170,152}}</string>
                <key>offset</key>
                <string>{-15,394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,249},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00041_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90aa03ab77057f23f6384acfa045def:5a970a3974a46eacf6ffda97dd1cc997:1c2d0535ee1c9fbbed5517812bf74113$</string>
            <key>textureFileName</key>
            <string>pri_00041_sps_all.png</string>
        </dict>
    </dict>
</plist>
