<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00005_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,314},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,470},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,626},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,782},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,314},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,470},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,626},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,782},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,314},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,470},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,626},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,782},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,314},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,314},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,626},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,626},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,470},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,470},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,782},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,782},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,158},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,470},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,470},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,782},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00005_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,782},{160,154}}</string>
                <key>offset</key>
                <string>{-3,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,255},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00005_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bd2e0e7050b1a7baa167a353368f663:297ae4c70645188c6ec3c50b2b86f7d6:c13c0beb3e7d47c41bb422ab73882e63$</string>
            <key>textureFileName</key>
            <string>pri_00005_sps_all.png</string>
        </dict>
    </dict>
</plist>
