<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00160_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,476},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,160},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,318},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,476},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00160_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,476},{114,156}}</string>
                <key>offset</key>
                <string>{1,397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,244},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00160_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f52f1f400c45a9733d971b5b987ef4:c555d33bdfde16b643fbd9fb314b7749:9885143d8fe41350700120bd1430a719$</string>
            <key>textureFileName</key>
            <string>pri_00160_sps_all.png</string>
        </dict>
    </dict>
</plist>
