<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10011_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{814,1184}}</string>
                <key>offset</key>
                <string>{18,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,192},{814,1184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10011_sps.png</string>
            <key>size</key>
            <string>{818,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b270361e253e4e9a390aec378f4c2219:c37c73fb78979af10219e6f3da558e12:313a5f9f7125c517fe148cfa7829fe67$</string>
            <key>textureFileName</key>
            <string>pri_10011_sps.png</string>
        </dict>
    </dict>
</plist>
