<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00162_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,214},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,108},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00162_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,320},{98,104}}</string>
                <key>offset</key>
                <string>{5,378}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,289},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00162_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aae504372f141d8c50323b14e30657c:742df62a050af4b908858f08a64c8cb5:68b746de886e3bcbbf3e8e8a717cf393$</string>
            <key>textureFileName</key>
            <string>pri_00162_sps_all.png</string>
        </dict>
    </dict>
</plist>
