<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00046_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00046_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,230},{104,112}}</string>
                <key>offset</key>
                <string>{0,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{588,287},{104,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00046_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5fee636c4cab6a9cb25ab9e388536ef:9d7b37876c96dd4a5f13f9a699450296:5d6c288ecb3091ba77b34eac9060782c$</string>
            <key>textureFileName</key>
            <string>pri_00046_sps_all.png</string>
        </dict>
    </dict>
</plist>
