<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00156_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,1216}}</string>
                <key>offset</key>
                <string>{-9,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,187},{464,1216}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00156_sps.png</string>
            <key>size</key>
            <string>{468,1220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e56d76621924cd3501c6a4b9bc51f04:7148119a22124e5045a91485deba7027:f3c5e384bdc8aea4162d46162b52cdfb$</string>
            <key>textureFileName</key>
            <string>pri_00156_sps.png</string>
        </dict>
    </dict>
</plist>
