<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00099_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,682},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,172},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,342},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,512},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,682},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00099_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,682},{154,168}}</string>
                <key>offset</key>
                <string>{6,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,231},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00099_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9fb5f806dca9664291bd05d06081b84:a26e212bca8580c3e1d4bf812de5d76a:11161bc0110c7cf85167f03e3e8a50e1$</string>
            <key>textureFileName</key>
            <string>pri_00099_sps_all.png</string>
        </dict>
    </dict>
</plist>
