<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10009_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,156},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,156},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,156},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,156},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,156},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,156},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10009_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,152}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,247},{138,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10009_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fd50a0e18af15f6126f6eb845ab1c3f:0b6968c4c5370862b7caf32035b104e8:f23379a0a14751602bdc4894a774b6e3$</string>
            <key>textureFileName</key>
            <string>pri_10009_sps_all.png</string>
        </dict>
    </dict>
</plist>
