<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99006_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,178},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,354},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,530},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,706},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,354},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,354},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,706},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99006_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,706},{156,174}}</string>
                <key>offset</key>
                <string>{3,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,259},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99006_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aebd9a1dedcac71c1edee8becdf5357e:ed05cd8aceea498fea983407a0fa33a2:f07492d3b1a19f1868b573b90c384b92$</string>
            <key>textureFileName</key>
            <string>pri_99006_sps_all.png</string>
        </dict>
    </dict>
</plist>
