<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00071_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,126},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,126},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,126},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,126},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,126},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,250},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,250},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,250},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,250},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,250},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,374},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,374},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,374},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,374},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,374},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{164,122}}</string>
                <key>offset</key>
                <string>{15,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,498},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,126},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,126},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,126},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,126},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,126},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,126},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,250},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,250},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,250},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,250},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,250},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,250},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,374},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,374},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,374},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,374},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,374},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,374},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,498},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00071_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,498},{164,122}}</string>
                <key>offset</key>
                <string>{16,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,289},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00071_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4420ffd8239a4d48c27919b9a2a0f576:b33d031a827bb6e0e34c5b64d89b91f5:a4ae497e268ff283447eac1b872e13c1$</string>
            <key>textureFileName</key>
            <string>pri_00071_sps_all.png</string>
        </dict>
    </dict>
</plist>
