<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00039_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,1022}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,216},{486,1022}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00039_sps.png</string>
            <key>size</key>
            <string>{490,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e93ab678ff63343923550fb23b9f0964:d6c6b1ae51051f2227c298cdbdaff843:38d017793a45b0a55c8d6e9b638230b5$</string>
            <key>textureFileName</key>
            <string>pri_00039_sps.png</string>
        </dict>
    </dict>
</plist>
