<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00059_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,126},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,374},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,126},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,374},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,126},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,374},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,126},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,374},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,126},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,374},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,250},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00059_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{98,122}}</string>
                <key>offset</key>
                <string>{3,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,278},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00059_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57d9d5f8483cc94c9bea59831202bf9b:94aaebd48ba93231c8695c6b64a6e1ec:24f7f93fb3d7210f816602f1fa1f34ba$</string>
            <key>textureFileName</key>
            <string>pri_00059_sps_all.png</string>
        </dict>
    </dict>
</plist>
