<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00090_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,188},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,374},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00090_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,560},{154,184}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,215},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00090_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4beac81134e133364c30f7d053f7c10:b97bb806280ba8f69705fc90aedb9330:d2fb707f8f139972557e238c19c75578$</string>
            <key>textureFileName</key>
            <string>pri_00090_sps_all.png</string>
        </dict>
    </dict>
</plist>
