<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00043_body_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1278,1284}}</string>
                <key>offset</key>
                <string>{126,211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{511,297},{1278,1284}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00043_blink_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{702,936}}</string>
                <key>offset</key>
                <string>{-16,514}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{657,168},{702,936}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00043_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,940},{702,936}}</string>
                <key>offset</key>
                <string>{-16,514}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{657,168},{702,936}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00043_sps_zoom.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78673fce95ec682d9c5777e14829c75e:689bc09c283a36e8088d024526018029:d60ca4e51a71451f9626012c88187492$</string>
            <key>textureFileName</key>
            <string>pri_00043_sps_zoom.png</string>
        </dict>
    </dict>
</plist>
