<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00098_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,100},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00098_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,198},{108,96}}</string>
                <key>offset</key>
                <string>{7,359}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,312},{108,96}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00098_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73b9b5c9cea45e3af3c1741515674a00:eb893f95aa985893b0347838504f38d5:2dde70d22239591c9c5664deb1646801$</string>
            <key>textureFileName</key>
            <string>pri_00098_sps_all.png</string>
        </dict>
    </dict>
</plist>
