<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99003_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99003_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{112,156}}</string>
                <key>offset</key>
                <string>{-1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,232},{112,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99003_sps_all.png</string>
            <key>size</key>
            <string>{116,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48012ac3b8192289d05b09f1ae2ec1b1:fb2404ef3cf57322bf2844c39bb7832b:e6a0219b5f55baa0b1f7902acca9baae$</string>
            <key>textureFileName</key>
            <string>pri_99003_sps_all.png</string>
        </dict>
    </dict>
</plist>
