<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00069_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,1142}}</string>
                <key>offset</key>
                <string>{22,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,193},{350,1142}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00069_sps.png</string>
            <key>size</key>
            <string>{354,1146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ad8632ca940486893a1844cb37ddc06:cc35216bf30804107f9f3d5702410150:583990233fe561b1b7a2d55f982dbc47$</string>
            <key>textureFileName</key>
            <string>pri_00069_sps.png</string>
        </dict>
    </dict>
</plist>
