<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00076_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,378},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,754},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,378},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,754},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,378},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,754},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,378},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,378},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,190},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,378},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,378},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,754},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,754},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,378},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,378},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00076_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,566},{146,186}}</string>
                <key>offset</key>
                <string>{2,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,263},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00076_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40af4281f36a78bf99b3735e9bfb9b44:fc3ad32ea0137dc08796ee601e911a5b:f7f162f1cfe593f84d8bf3bc0f682fc9$</string>
            <key>textureFileName</key>
            <string>pri_00076_sps_all.png</string>
        </dict>
    </dict>
</plist>
