<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00072_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,650},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,164},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,326},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,488},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,650},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00072_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,650},{156,160}}</string>
                <key>offset</key>
                <string>{-3,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,249},{156,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00072_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d32bd8bef18283b4c0c56502171276f1:8ccda3c64262d15804df3e9f609c79e5:58543fdc6c20d3f0adfe627275281462$</string>
            <key>textureFileName</key>
            <string>pri_00072_sps_all.png</string>
        </dict>
    </dict>
</plist>
