<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99004_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,70}}</string>
                <key>offset</key>
                <string>{2,370}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{620,314},{44,70}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99004_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,70}}</string>
                <key>offset</key>
                <string>{2,370}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{620,314},{44,70}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99004_sps_all.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb848aaac7a2928dc0f33291721418bf:c13aeec1843f89ecbd293ac520ee12f8:6e6b4c1a8a8e9fa441c512305bef3677$</string>
            <key>textureFileName</key>
            <string>pri_99004_sps_all.png</string>
        </dict>
    </dict>
</plist>
