<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00033_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,138},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,138},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,274},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,410},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,546},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,682},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,818},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,138},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,274},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,410},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,546},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,682},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,818},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,138},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,274},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,138},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,138},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,410},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,410},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,682},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,682},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,274},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,274},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,546},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,546},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,818},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,818},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,274},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00033_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,274},{142,134}}</string>
                <key>offset</key>
                <string>{8,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,277},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00033_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e956589f7faeaa586143673e906afb10:c65b4fe9d5d610145bdd57c1d319b31d:6dc33b60bb9e51d38d7bbaf8f05b2def$</string>
            <key>textureFileName</key>
            <string>pri_00033_sps_all.png</string>
        </dict>
    </dict>
</plist>
