<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00089_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,124},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,124},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,124},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,124},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,368},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,368},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,368},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,368},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,612},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,124},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,124},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,124},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,124},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,246},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,368},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,368},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,368},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,368},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,490},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,612},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00089_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,612},{178,120}}</string>
                <key>offset</key>
                <string>{1,380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,279},{178,120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00089_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a36f5f84a8215c8de41b4843471983a4:8f65ff8ebef0032cdd6da52b77caca12:683ea848624c98d588b0fe4dbd1a3f96$</string>
            <key>textureFileName</key>
            <string>pri_00089_sps_all.png</string>
        </dict>
    </dict>
</plist>
