<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10098_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10098_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{100,104}}</string>
                <key>offset</key>
                <string>{-10,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,306},{100,104}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10098_sps_all.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0979c6ecc2d50a130a0d7787691ac344:a734f241423a15a1ca5a13b6a4cf3078:0e9a86115a2facefcb91bdc1603527d6$</string>
            <key>textureFileName</key>
            <string>pri_10098_sps_all.png</string>
        </dict>
    </dict>
</plist>
