<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_20158_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20158_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,116},{100,112}}</string>
                <key>offset</key>
                <string>{7,383}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{597,280},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_20158_sps_all.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bd97c32e8a96059bfaf9985c8719132:088dc040172e66ce687b166c1af735ae:51d3f636e9ac9c2f134281580fea8b19$</string>
            <key>textureFileName</key>
            <string>pri_20158_sps_all.png</string>
        </dict>
    </dict>
</plist>
