<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,208},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,208},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,414},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,414},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,208},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,208},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,414},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99002_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,414},{150,204}}</string>
                <key>offset</key>
                <string>{-2,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,235},{150,204}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99002_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb7468e3ad4444417e9aa4d5ba85058e:e580d41891371e6f2636e7ebd9a9642c:a7a034ff33ce48d22312744718f52908$</string>
            <key>textureFileName</key>
            <string>pri_99002_sps_all.png</string>
        </dict>
    </dict>
</plist>
