<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00035_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,1052}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,240},{348,1052}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00035_sps.png</string>
            <key>size</key>
            <string>{352,1056}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90a4ac8cb9f43970149c87e8c2c8590:8b1e5e5d95f68863167c2e7cc64914c9:186edbafb155a20fcbe307b9dfdca6b7$</string>
            <key>textureFileName</key>
            <string>pri_00035_sps.png</string>
        </dict>
    </dict>
</plist>
