<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00036_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,958}}</string>
                <key>offset</key>
                <string>{-12,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,365},{248,958}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00036_sps.png</string>
            <key>size</key>
            <string>{252,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d006c5b9c2a7fe23af53ca759e16763a:b116e89979f21d5b706c1ba9dbb2edda:7446cb1c2c1db1a02a96127345389041$</string>
            <key>textureFileName</key>
            <string>pri_00036_sps.png</string>
        </dict>
    </dict>
</plist>
