<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00042_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,1046}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,238},{316,1046}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00042_sps.png</string>
            <key>size</key>
            <string>{320,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb7791a5dbb6157e8198b1e3ec181908:d7c24f5290a85ddbb6cbf856c6184c73:7e502138cf1fd09e3a93816a618f77d1$</string>
            <key>textureFileName</key>
            <string>pri_00042_sps.png</string>
        </dict>
    </dict>
</plist>
