<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99010_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,38}}</string>
                <key>offset</key>
                <string>{3,422}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{623,278},{40,38}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99010_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,38}}</string>
                <key>offset</key>
                <string>{3,422}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{623,278},{40,38}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99010_sps_all.png</string>
            <key>size</key>
            <string>{44,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c79e5652741002136d8dfc8b7d33dcb:2e2c40af1b56232b5bd70af05e537f07:6c147cb11dca80daaadc94072a702bc6$</string>
            <key>textureFileName</key>
            <string>pri_99010_sps_all.png</string>
        </dict>
    </dict>
</plist>
