<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00020_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,984}}</string>
                <key>offset</key>
                <string>{9,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,404},{502,984}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00020_sps.png</string>
            <key>size</key>
            <string>{506,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d95a2eaa7f522c880abeee0c767cd10:6b04b810c2b29dcca0b1a0df2008ed94:1a2b5823118631c550295f6664600733$</string>
            <key>textureFileName</key>
            <string>pri_00020_sps.png</string>
        </dict>
    </dict>
</plist>
