<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00014_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,1168}}</string>
                <key>offset</key>
                <string>{-51,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,218},{536,1168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00014_sps.png</string>
            <key>size</key>
            <string>{540,1172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7595baf0e864a6f670892e84d6afaa2:f549cecf3489a63eebc8145f2d31f441:b06dc78b0ef18bad9898222a673a759c$</string>
            <key>textureFileName</key>
            <string>pri_00014_sps.png</string>
        </dict>
    </dict>
</plist>
