<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00099_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,1142}}</string>
                <key>offset</key>
                <string>{32,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,231},{592,1142}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00099_sps.png</string>
            <key>size</key>
            <string>{596,1146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdaa3d6bc8826fc450a7e2515795a23c:b1e75571df6b56aab039399ddead6583:2b76d6f21b9bdd06cf4bb73885f61c06$</string>
            <key>textureFileName</key>
            <string>pri_00099_sps.png</string>
        </dict>
    </dict>
</plist>
