<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>77002_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{994,1384}}</string>
                <key>offset</key>
                <string>{-64,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,558},{994,1384}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_77002_sps.png</string>
            <key>size</key>
            <string>{998,1388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eefa5214d139ada1779f532f43bad920:bb60c907e578826625f85d1f9d2ba269:9e4dfdfcaffa4fcd36de8a7ffb7c45b1$</string>
            <key>textureFileName</key>
            <string>pri_77002_sps.png</string>
        </dict>
    </dict>
</plist>
