<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00003_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,1122}}</string>
                <key>offset</key>
                <string>{23,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,238},{476,1122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00003_sps.png</string>
            <key>size</key>
            <string>{480,1126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53cde35aa434c6bcb508c09a0a6fa772:2a49ffd6df55c7851b0878c91e8f857d:a9b8867075a87a3dc04bc1c6d45b737b$</string>
            <key>textureFileName</key>
            <string>pri_00003_sps.png</string>
        </dict>
    </dict>
</plist>
