<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00077_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,104},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,206},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00077_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,308},{138,100}}</string>
                <key>offset</key>
                <string>{-12,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,333},{138,100}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00077_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15b4e23a7e1f7c7d3a78d6e62d9acd1c:bf40304fd88d213978ac22a36504f8c1:5a53a6decf04f0398901ea5954622bf7$</string>
            <key>textureFileName</key>
            <string>pri_00077_sps_all.png</string>
        </dict>
    </dict>
</plist>
