<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00090_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,1016}}</string>
                <key>offset</key>
                <string>{-10,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,380},{434,1016}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00090_sps.png</string>
            <key>size</key>
            <string>{438,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977c0b4181aa3493f424546091e0ff4e:0392c5c062193355ad2ed3100400b3dc:76647fd1a38841d6991ba2275a973afd$</string>
            <key>textureFileName</key>
            <string>pri_00090_sps.png</string>
        </dict>
    </dict>
</plist>
