<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00080_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,156},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,310},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00080_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,464},{142,152}}</string>
                <key>offset</key>
                <string>{-2,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,231},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00080_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62ac60261d703a77eff74e3ab1934c02:be262481c2e2ee61fedcc1c98260666d:d9daae84197d573e5890b643d387efb8$</string>
            <key>textureFileName</key>
            <string>pri_00080_sps_all.png</string>
        </dict>
    </dict>
</plist>
