<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00043_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,1058}}</string>
                <key>offset</key>
                <string>{35,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,242},{438,1058}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00043_sps.png</string>
            <key>size</key>
            <string>{442,1062}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edd664686a0f94ab3f858ee0ae9c4783:30cc5c72bc0155479ae85ca9644ffb7a:2abe13fa37089d1edb82ce01b35cfbe2$</string>
            <key>textureFileName</key>
            <string>pri_00043_sps.png</string>
        </dict>
    </dict>
</plist>
