<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00019_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,226},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,226},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,554},{154,184}}</string>
                <key>offset</key>
                <string>{-6,400}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,554},{154,184}}</string>
                <key>offset</key>
                <string>{-6,400}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,226},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,226},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,226},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,226},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,554},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,370},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,554},{154,184}}</string>
                <key>offset</key>
                <string>{-6,400}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,554},{154,184}}</string>
                <key>offset</key>
                <string>{-6,400}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,226},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,402}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,226},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00019_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,182}}</string>
                <key>offset</key>
                <string>{-6,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,227},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00019_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80496da9e281d3487bd6c3d0b29f4586:c7aab5de7b920206036a27cac15887f9:439f63e03eec330ffdbaabcfc7cbd8b4$</string>
            <key>textureFileName</key>
            <string>pri_00019_sps_all.png</string>
        </dict>
    </dict>
</plist>
