<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00017_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,158},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,314},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00017_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,470},{144,154}}</string>
                <key>offset</key>
                <string>{10,398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{578,244},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00017_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d574f2429641eb1726f9a80e818dc9b9:787e8e5b2be4edb60e081b51c938494a:9e0e30d08efb80a239aa057a86e3a523$</string>
            <key>textureFileName</key>
            <string>pri_00017_sps_all.png</string>
        </dict>
    </dict>
</plist>
