<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10046_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,334},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,334},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,334},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,334},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10046_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{164,164}}</string>
                <key>offset</key>
                <string>{0,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,233},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10046_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ce24a5e6ef445c5c43a4619f4b9bdf5:5b3672ee04a9459e01a27200d4adfd9f:b62dab177ec6401c382bf4fc9ea043b5$</string>
            <key>textureFileName</key>
            <string>pri_10046_sps_all.png</string>
        </dict>
    </dict>
</plist>
