<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_77002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,746},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,746},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,746},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_77002_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,374},{318,370}}</string>
                <key>offset</key>
                <string>{21,582}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,383},{318,370}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_77002_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:509d66620b9d9fed03eae707ab399088:319145ae5240357b901d2f848c3db886:fa6bde835634b2f0b1ef56b20fc9381e$</string>
            <key>textureFileName</key>
            <string>pri_77002_sps_all.png</string>
        </dict>
    </dict>
</plist>
