<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_20156_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,250},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,126},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,250},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20156_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,250},{98,122}}</string>
                <key>offset</key>
                <string>{18,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{609,276},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_20156_sps_all.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:032c5b68faf4a4c0278105bdc19171bd:993f734851e2a318b14b860f27463bd9:1f048c0bb91779ab6bb0734525d06e38$</string>
            <key>textureFileName</key>
            <string>pri_20156_sps_all.png</string>
        </dict>
    </dict>
</plist>
