<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10156_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,130},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,258},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,130},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,130},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,258},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,258},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,258},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,258},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,130},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,130},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,258},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10156_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,258},{106,126}}</string>
                <key>offset</key>
                <string>{-1,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,272},{106,126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10156_sps_all.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bb89ec2a06274cd14612a1037f87773:9a6619cf7a398925971a8da79275160d:c06d90602c6eba479e9b10a0cfe0b981$</string>
            <key>textureFileName</key>
            <string>pri_10156_sps_all.png</string>
        </dict>
    </dict>
</plist>
