<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,176},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,350},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00001_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,524},{166,172}}</string>
                <key>offset</key>
                <string>{-6,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,243},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00001_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2611ef1918162a5ddddc6b4df545a7fa:88d18cf03ff1201d956efc77e6f80d8a:bdb264390a83992605df4425bac613ee$</string>
            <key>textureFileName</key>
            <string>pri_00001_sps_all.png</string>
        </dict>
    </dict>
</plist>
