<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00085_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,156},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,310},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,464},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,618},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,772},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,156},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,310},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,464},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,618},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,772},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,156},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,310},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,464},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,618},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,772},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,156},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,156},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,464},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,464},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,772},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,772},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,310},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,310},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,618},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,618},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,310},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,310},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,618},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,618},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00085_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,152}}</string>
                <key>offset</key>
                <string>{0,436}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,207},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00085_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97fc63ab679b5c9bb61344c24c8a1169:1a0754f0a7edd38bfc7880d6b8705e70:e35adfcb9ad3e73873a7363d0535addf$</string>
            <key>textureFileName</key>
            <string>pri_00085_sps_all.png</string>
        </dict>
    </dict>
</plist>
