<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00012_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,160},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,160},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,160},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,160},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,476},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,792},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,476},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,792},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,476},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,476},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,160},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,160},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,160},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,160},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,318},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,476},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,476},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00012_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,634},{170,156}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,248},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00012_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:225665e39d978fcb369533fcbec6a7c3:36b7136e59a64fae9bd9581a6ef2faaa:1d912ef54fdf75efc7e49d5a8e169699$</string>
            <key>textureFileName</key>
            <string>pri_00012_sps_all.png</string>
        </dict>
    </dict>
</plist>
