<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00045_body_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{860,850}}</string>
                <key>offset</key>
                <string>{53,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{647,731},{860,850}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00045_blink_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{670,684}}</string>
                <key>offset</key>
                <string>{55,665}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{744,143},{670,684}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00045_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{670,684}}</string>
                <key>offset</key>
                <string>{55,665}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{744,143},{670,684}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00045_sps_zoom.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a8a0885a8dfec3a504f55566697bbf:87587d4a31b5a5f5788e9e4faa6ba537:4c77073437eec2fb27a430531f666834$</string>
            <key>textureFileName</key>
            <string>pri_00045_sps_zoom.png</string>
        </dict>
    </dict>
</plist>
