<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_90002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,128}}</string>
                <key>offset</key>
                <string>{-1,445}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{938,641},{170,128}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_90002_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,128}}</string>
                <key>offset</key>
                <string>{-1,445}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{938,641},{170,128}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_90002_sps_all.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4fd5f0ae75d30ddc7297c5355a4bb49:3e8abbb76b3ca83ff383fdc7c5a1a2e9:c8555f79c220f7dbdbc7379f71405ecf$</string>
            <key>textureFileName</key>
            <string>pri_90002_sps_all.png</string>
        </dict>
    </dict>
</plist>
