<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00044_body_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{886,966}}</string>
                <key>offset</key>
                <string>{69,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{650,615},{886,966}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00044_blink_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{606,628}}</string>
                <key>offset</key>
                <string>{29,614}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{750,222},{606,628}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00044_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,632},{606,628}}</string>
                <key>offset</key>
                <string>{29,614}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{750,222},{606,628}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00044_sps_zoom.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7003e2b2f32fd6cc6c5e258b6b3f7850:be563985d08a357eb7155904939e905c:0cc2e99d8e0297da04f5f2c88d4a2e82$</string>
            <key>textureFileName</key>
            <string>pri_00044_sps_zoom.png</string>
        </dict>
    </dict>
</plist>
