<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00037_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,314},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,626},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,314},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,626},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,314},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,626},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,470},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,782},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00037_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,158},{160,154}}</string>
                <key>offset</key>
                <string>{-1,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,243},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00037_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0113e7830e38751842ec7f195f3bd795:4704e444f752b46e254e68f9ff325162:22f7eb32273b4d71e7f4c1abf5ce6f77$</string>
            <key>textureFileName</key>
            <string>pri_00037_sps_all.png</string>
        </dict>
    </dict>
</plist>
