<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00079_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,160},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,318},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00079_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,476},{132,156}}</string>
                <key>offset</key>
                <string>{-4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,254},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00079_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80596622409814829dea093e133ba135:bb0cf726fb3dd7fb2823e65658daebee:90668d94b73246e0f9e96a0282850376$</string>
            <key>textureFileName</key>
            <string>pri_00079_sps_all.png</string>
        </dict>
    </dict>
</plist>
