<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00010_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,164},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,812},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,164},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,812},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,488},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,164},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,164},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,812},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,488},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,164},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00010_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,160}}</string>
                <key>offset</key>
                <string>{-8,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,248},{166,160}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00010_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60b9bb73f138bce0ca718dfc3e37da1d:34f84b4e9f724fd87e1f81566ca82d0b:adb0c53fd29d22a3b923b5ef026c2db3$</string>
            <key>textureFileName</key>
            <string>pri_00010_sps_all.png</string>
        </dict>
    </dict>
</plist>
