<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>99006_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,928}}</string>
                <key>offset</key>
                <string>{2,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{505,387},{274,928}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99006_sps.png</string>
            <key>size</key>
            <string>{278,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdbf7d33582c42a0bfb8798d0fd211d6:2bb52ff94789d6af5a4077bf65fc0897:a6bd1d7ecca4c4e2df425a3ad647af78$</string>
            <key>textureFileName</key>
            <string>pri_99006_sps.png</string>
        </dict>
    </dict>
</plist>
