<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>99004_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{552,1260}}</string>
                <key>offset</key>
                <string>{-10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,52},{552,1260}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99004_sps.png</string>
            <key>size</key>
            <string>{556,1264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f685ecab436973defa72f2c26f50ce9:621d6b80f6736bd3d91cb080af50a579:1ed4524d7072e1b050bf82f1b96e63ed$</string>
            <key>textureFileName</key>
            <string>pri_99004_sps.png</string>
        </dict>
    </dict>
</plist>
