<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00035_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,118},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,118},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,118},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,234},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,234},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,234},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,350},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,350},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,350},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,466},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,466},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,466},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,582},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,582},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,582},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,698},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,698},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,118},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,118},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,234},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,234},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,350},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,350},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,466},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,466},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,582},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,582},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,698},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00035_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,698},{106,114}}</string>
                <key>offset</key>
                <string>{-12,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,294},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00035_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ca0f0574e9b320ee1fd1a571f294c26:8c4f23117bde6ed207a0e2fd4d997acf:9773bdb5ae0216d0922e2d5666b0a229$</string>
            <key>textureFileName</key>
            <string>pri_00035_sps_all.png</string>
        </dict>
    </dict>
</plist>
