<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99000_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,144}}</string>
                <key>offset</key>
                <string>{5,280}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,367},{292,144}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{292,144}}</string>
                <key>offset</key>
                <string>{5,280}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,367},{292,144}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,148},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,148},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,242},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,242},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{292,144}}</string>
                <key>offset</key>
                <string>{5,280}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,367},{292,144}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{292,144}}</string>
                <key>offset</key>
                <string>{5,280}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,367},{292,144}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,148},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,148},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,242},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99000_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,242},{174,238}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,274},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99000_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adeabc4c41c2ddc6b988b7126841a3db:b05f7a9d527cc278c68f0f419ba8e7bc:ce1502ca4508491ce44f76db961d3acb$</string>
            <key>textureFileName</key>
            <string>pri_99000_sps_all.png</string>
        </dict>
    </dict>
</plist>
