<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00159_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,1032}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,201},{566,1032}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00159_sps.png</string>
            <key>size</key>
            <string>{570,1036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc56449920134bea83ffb3f58a4fd969:01e60bc4e1a0fd5f091587203fc017fd:8ba483cee40fae76473b137b1960f389$</string>
            <key>textureFileName</key>
            <string>pri_00159_sps.png</string>
        </dict>
    </dict>
</plist>
