<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00084_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,682},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,172},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,342},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,512},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,682},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00084_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,682},{148,168}}</string>
                <key>offset</key>
                <string>{5,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,229},{148,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00084_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76b4bcecd363c50caa73e7f99ebf809b:b5cb89bddaf8ee7d89741cc7139dd67c:02d4bdcbc78b2b9b4bbe0706643e02d2$</string>
            <key>textureFileName</key>
            <string>pri_00084_sps_all.png</string>
        </dict>
    </dict>
</plist>
