<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00016_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,96},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,96},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,96},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,190},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,190},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,190},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,284},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,284},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,284},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,378},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,378},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,378},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,472},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,472},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,472},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,566},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,96},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,96},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,96},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,96},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,190},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,190},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,190},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,190},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,284},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,284},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,284},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,284},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,378},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,378},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,378},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,378},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,472},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,472},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,472},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,472},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,566},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00016_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,566},{102,92}}</string>
                <key>offset</key>
                <string>{7,373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,300},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00016_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2cbc2422563b10aca4e8f8e9c4c9331:872fbcd2e4e43e82cf1daa62a0953e86:5aad54fbc86f958d181b0018757fb7fd$</string>
            <key>textureFileName</key>
            <string>pri_00016_sps_all.png</string>
        </dict>
    </dict>
</plist>
