<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,160},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,160},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,318},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,318},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,160},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,160},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,318},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,318},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99001_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{146,156}}</string>
                <key>offset</key>
                <string>{0,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,242},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99001_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7289570a112034972d6978c40fbc3246:a62208ca5d388c380b00e121e9b6d46e:2e5c0e520f4b0c631f673e1df12601f9$</string>
            <key>textureFileName</key>
            <string>pri_99001_sps_all.png</string>
        </dict>
    </dict>
</plist>
