<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_90003_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,262}}</string>
                <key>offset</key>
                <string>{21,489}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{924,530},{242,262}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_90003_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,262}}</string>
                <key>offset</key>
                <string>{21,489}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{924,530},{242,262}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_90003_sps_all.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:496d5fe62e8e265c3996b55ddec28f30:39737679d4375aa33c16ce96ee9af4d4:51f8a638fd64303985c421fac1ebb504$</string>
            <key>textureFileName</key>
            <string>pri_90003_sps_all.png</string>
        </dict>
    </dict>
</plist>
