<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00048_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,1082}}</string>
                <key>offset</key>
                <string>{32,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,290},{416,1082}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00048_sps.png</string>
            <key>size</key>
            <string>{420,1086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a339594eb9cb27b19cde8840c1f5c81:cf3eed64d785d0bc893cf80781f2a7bb:dababbb6bb745d6add41bdbd68b81ae9$</string>
            <key>textureFileName</key>
            <string>pri_00048_sps.png</string>
        </dict>
    </dict>
</plist>
