<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20156_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,1152}}</string>
                <key>offset</key>
                <string>{-3,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,237},{496,1152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_20156_sps.png</string>
            <key>size</key>
            <string>{500,1156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0b344d3b0ae209f1635b92696ba425b:7959d27107c670a95c2f6ee622d9beb3:4cb834f65b4e84eec25083a9824ee784$</string>
            <key>textureFileName</key>
            <string>pri_20156_sps.png</string>
        </dict>
    </dict>
</plist>
