<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_20162_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,168},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,334},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,334},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,168},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,334},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,334},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,334},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,334},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_20162_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,334},{164,164}}</string>
                <key>offset</key>
                <string>{-19,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,246},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_20162_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c9efef84cd6646f2ce1c3cb80585110:d90412803360c67edf586574e9a50224:32a57c8e711e3e8236a9649b36a6c6ed$</string>
            <key>textureFileName</key>
            <string>pri_20162_sps_all.png</string>
        </dict>
    </dict>
</plist>
