<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00067_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,1152}}</string>
                <key>offset</key>
                <string>{-8,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,236},{490,1152}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00067_sps.png</string>
            <key>size</key>
            <string>{494,1156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcc1b1046079d5a5778028953e8febcf:5cbf9a65a11ed652db200adea3dfef20:b545baed30fadcb2021133d5787223c4$</string>
            <key>textureFileName</key>
            <string>pri_00067_sps.png</string>
        </dict>
    </dict>
</plist>
