<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00013_body_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1286,1358}}</string>
                <key>offset</key>
                <string>{130,248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{511,223},{1286,1358}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00013_blink_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{562,614}}</string>
                <key>offset</key>
                <string>{0,650}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{743,193},{562,614}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00013_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,618},{562,614}}</string>
                <key>offset</key>
                <string>{0,650}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{743,193},{562,614}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00013_sps_zoom.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fea43753b6a721dd0b0f26c20b9934a9:4acf0a1eabdb5fac12a7581de2fe52a7:6d827546846cc9bb72af9091d4ee26ac$</string>
            <key>textureFileName</key>
            <string>pri_00013_sps_zoom.png</string>
        </dict>
    </dict>
</plist>
