<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00048_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,536},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,714},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,536},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,714},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,536},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,714},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,714},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,714},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,180},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,536},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,536},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,358},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,714},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00048_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,714},{168,176}}</string>
                <key>offset</key>
                <string>{8,408}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,223},{168,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00048_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4b68d0ae8176655ac7d24581e4d3c6b:b96c2592f1c6decd0c3cca9fa9ffd687:99d5e4e282fa59bf5f0c5ad967beb0e7$</string>
            <key>textureFileName</key>
            <string>pri_00048_sps_all.png</string>
        </dict>
    </dict>
</plist>
