<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00045_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,790}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{498,365},{272,790}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00045_sps.png</string>
            <key>size</key>
            <string>{276,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:712b7189980979d37d3960cbaad167e5:55fbc99da4f591687db3d26a99c07b9a:95c5840ba8415f4d08f6f7f73e66b96f$</string>
            <key>textureFileName</key>
            <string>pri_00045_sps.png</string>
        </dict>
    </dict>
</plist>
