<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00078_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,1002}}</string>
                <key>offset</key>
                <string>{-55,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,316},{388,1002}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00078_sps.png</string>
            <key>size</key>
            <string>{392,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5cc9935de24e9447c4cf221c67349f3:b63bcdb65d680d2ec3d83d625c628755:efdfd509b656b551206f3d0ae86e99c0$</string>
            <key>textureFileName</key>
            <string>pri_00078_sps.png</string>
        </dict>
    </dict>
</plist>
