<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00086_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,172},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,342},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00086_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,512},{152,168}}</string>
                <key>offset</key>
                <string>{-3,382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,253},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00086_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44d875881e5d307cdf7f1fe939c3817f:ee381bd9df0fb36156f512a2554228b1:b0815ce4c199ddd2a5872e8e5fbfe5c7$</string>
            <key>textureFileName</key>
            <string>pri_00086_sps_all.png</string>
        </dict>
    </dict>
</plist>
