<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00086_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,1004}}</string>
                <key>offset</key>
                <string>{-5,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,345},{350,1004}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00086_sps.png</string>
            <key>size</key>
            <string>{354,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8815841b964da11e6a8391a0d96f8e1b:614537161e9ed79fb61b3da5184a2f84:134caf2dd5cfbc5cb4c73a4b86f26161$</string>
            <key>textureFileName</key>
            <string>pri_00086_sps.png</string>
        </dict>
    </dict>
</plist>
