<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00019_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,1126}}</string>
                <key>offset</key>
                <string>{89,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{543,280},{372,1126}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00019_sps.png</string>
            <key>size</key>
            <string>{376,1130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23590c29057b96f3ba84650e42a5b200:de57305369afbf2dc92d46484f965d15:b3cd32e9fbda6490ea32388ed2a6494e$</string>
            <key>textureFileName</key>
            <string>pri_00019_sps.png</string>
        </dict>
    </dict>
</plist>
