<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>99001_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,794}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{534,373},{224,794}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99001_sps.png</string>
            <key>size</key>
            <string>{228,798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19f504d597431c41bf754bfb56b20241:0fb35efc888b73447d430a190cde0e6a:9c257264540f1aca059e0edccab072fe$</string>
            <key>textureFileName</key>
            <string>pri_99001_sps.png</string>
        </dict>
    </dict>
</plist>
