<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00011_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,226},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,226},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,226},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,226},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,226},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,338},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00011_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,114},{88,110}}</string>
                <key>offset</key>
                <string>{-14,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,280},{88,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00011_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e566edc0a08673971128d67601d0b7c:52ee13ccb2ff5d6ca3b3306808a1c196:fe02ea8eeb9acfe6ef78ada90d7a7fea$</string>
            <key>textureFileName</key>
            <string>pri_00011_sps_all.png</string>
        </dict>
    </dict>
</plist>
