<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00003_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,132}}</string>
                <key>offset</key>
                <string>{3,375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,278},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,136},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,136},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,136},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,270},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,270},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,270},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,404},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,404},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,404},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,538},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,538},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,538},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,672},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,806},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,672},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,672},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,806},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,136},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,136},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,136},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,136},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,270},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,270},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,404},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,404},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,538},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,538},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,672},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,672},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,672},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,672},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,806},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00003_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,806},{106,132}}</string>
                <key>offset</key>
                <string>{3,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,277},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00003_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e5ab2c124edb90186803cc02be776ac:f493e2d06f6c411c64bd9ef60fe26d26:942a64eba8d5a406dfb5ba7b008ab2de$</string>
            <key>textureFileName</key>
            <string>pri_00003_sps_all.png</string>
        </dict>
    </dict>
</plist>
