<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00076_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,1032}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,240},{316,1032}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00076_sps.png</string>
            <key>size</key>
            <string>{320,1036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a79ba0d775827509bc107834c2d92206:d395aa561815e23f389a809969ff9e29:f103fc0b77f55075d0dca5a4bab25d9c$</string>
            <key>textureFileName</key>
            <string>pri_00076_sps.png</string>
        </dict>
    </dict>
</plist>
