<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00156_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,114},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00156_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,226},{114,110}}</string>
                <key>offset</key>
                <string>{-1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,293},{114,110}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00156_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbfbdd539a985c38245e609411c9b09c:2bfa0cd25e76c5a4a35796c71fe8cc64:b18a8ba813ff1fb0fa1a027f869410dd$</string>
            <key>textureFileName</key>
            <string>pri_00156_sps_all.png</string>
        </dict>
    </dict>
</plist>
