<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00066_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,330},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00066_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,166},{142,162}}</string>
                <key>offset</key>
                <string>{2,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,251},{142,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00066_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eb6275ee36cc81d56f46e05bd9a7c7d:e6d9fc56e63fd986913ca95f7e2f9bcb:60be6a727061e49a688b70f5206be783$</string>
            <key>textureFileName</key>
            <string>pri_00066_sps_all.png</string>
        </dict>
    </dict>
</plist>
