<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00011_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,1120}}</string>
                <key>offset</key>
                <string>{-16,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,243},{406,1120}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00011_sps.png</string>
            <key>size</key>
            <string>{410,1124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9fa5108652c7a8e1abce5db9888ee5e:c19f84d7a2c27aafc9115ab4cdcc1086:cbd06dc5d1a6e58e5b0ea56cef6020d7$</string>
            <key>textureFileName</key>
            <string>pri_00011_sps.png</string>
        </dict>
    </dict>
</plist>
