<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>99014_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,994}}</string>
                <key>offset</key>
                <string>{18,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,360},{322,994}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99014_sps.png</string>
            <key>size</key>
            <string>{326,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea5096731f67a7c19a3235948f069629:5446950eac3d7bc78b9945655df35b94:2ebb2d056c0caeea1c98cbaf33ea72fb$</string>
            <key>textureFileName</key>
            <string>pri_99014_sps.png</string>
        </dict>
    </dict>
</plist>
