<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00009_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,336},{62,60}}</string>
                <key>offset</key>
                <string>{26,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{62,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,398},{60,60}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{60,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,398},{62,60}}</string>
                <key>offset</key>
                <string>{26,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{62,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,398},{60,60}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{60,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{64,66}}</string>
                <key>offset</key>
                <string>{25,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,319},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{64,66}}</string>
                <key>offset</key>
                <string>{24,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{632,319},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{64,66}}</string>
                <key>offset</key>
                <string>{25,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,319},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,206},{62,66}}</string>
                <key>offset</key>
                <string>{24,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,319},{62,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,336},{62,60}}</string>
                <key>offset</key>
                <string>{26,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{62,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,398},{60,60}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{60,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,336},{62,60}}</string>
                <key>offset</key>
                <string>{26,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{62,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,254},{62,60}}</string>
                <key>offset</key>
                <string>{26,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{62,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,128},{64,60}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,325},{64,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,190},{62,58}}</string>
                <key>offset</key>
                <string>{24,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,327},{62,58}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{62,62}}</string>
                <key>offset</key>
                <string>{26,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,324},{62,62}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,66},{60,62}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,324},{60,62}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,130},{66,60}}</string>
                <key>offset</key>
                <string>{24,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{66,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,64},{64,60}}</string>
                <key>offset</key>
                <string>{23,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{64,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,66}}</string>
                <key>offset</key>
                <string>{24,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,319},{66,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,66}}</string>
                <key>offset</key>
                <string>{23,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{630,319},{66,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{66,66}}</string>
                <key>offset</key>
                <string>{24,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,319},{66,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{64,66}}</string>
                <key>offset</key>
                <string>{23,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,319},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,66},{66,60}}</string>
                <key>offset</key>
                <string>{24,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{66,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{64,60}}</string>
                <key>offset</key>
                <string>{23,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{64,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{66,60}}</string>
                <key>offset</key>
                <string>{24,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{66,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,274},{66,60}}</string>
                <key>offset</key>
                <string>{24,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{66,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,192},{66,60}}</string>
                <key>offset</key>
                <string>{24,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{66,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,316},{64,58}}</string>
                <key>offset</key>
                <string>{23,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,327},{64,58}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,398},{60,60}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{60,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,398},{60,60}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{60,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{64,66}}</string>
                <key>offset</key>
                <string>{24,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{632,319},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{64,66}}</string>
                <key>offset</key>
                <string>{24,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{632,319},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,206},{62,66}}</string>
                <key>offset</key>
                <string>{24,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,319},{62,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,206},{62,66}}</string>
                <key>offset</key>
                <string>{24,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,319},{62,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,398},{60,60}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{60,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,398},{60,60}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{60,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,254},{62,60}}</string>
                <key>offset</key>
                <string>{26,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{62,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,254},{62,60}}</string>
                <key>offset</key>
                <string>{26,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,325},{62,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,190},{62,58}}</string>
                <key>offset</key>
                <string>{24,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,327},{62,58}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,190},{62,58}}</string>
                <key>offset</key>
                <string>{24,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,327},{62,58}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,66},{60,62}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,324},{60,62}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,66},{60,62}}</string>
                <key>offset</key>
                <string>{25,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{635,324},{60,62}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,64},{64,60}}</string>
                <key>offset</key>
                <string>{23,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{64,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,64},{64,60}}</string>
                <key>offset</key>
                <string>{23,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{64,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,66}}</string>
                <key>offset</key>
                <string>{23,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{630,319},{66,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,66}}</string>
                <key>offset</key>
                <string>{23,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{630,319},{66,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{64,66}}</string>
                <key>offset</key>
                <string>{23,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,319},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{64,66}}</string>
                <key>offset</key>
                <string>{23,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,319},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{64,60}}</string>
                <key>offset</key>
                <string>{23,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{64,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{64,60}}</string>
                <key>offset</key>
                <string>{23,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{64,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,274},{66,60}}</string>
                <key>offset</key>
                <string>{24,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{66,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,274},{66,60}}</string>
                <key>offset</key>
                <string>{24,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,325},{66,60}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,316},{64,58}}</string>
                <key>offset</key>
                <string>{23,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,327},{64,58}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00009_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,316},{64,58}}</string>
                <key>offset</key>
                <string>{23,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,327},{64,58}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00009_sps_all.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de2e263dda72f17a4e52cab6dcead280:34afa094b73d0ed51c38dee07f892060:6cbc1fa9117b0279de3207bab5d41041$</string>
            <key>textureFileName</key>
            <string>pri_00009_sps_all.png</string>
        </dict>
    </dict>
</plist>
