<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99015_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,26}}</string>
                <key>offset</key>
                <string>{-9,210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,496},{80,26}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99015_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,26}}</string>
                <key>offset</key>
                <string>{-9,210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,496},{80,26}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99015_sps_all.png</string>
            <key>size</key>
            <string>{84,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53432dc9827911aa2736cfdab260c212:87851b0994c93bbffee741e22e5fc09c:e95b8fa98b97551af94dd0344ded666d$</string>
            <key>textureFileName</key>
            <string>pri_99015_sps_all.png</string>
        </dict>
    </dict>
</plist>
