<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>99007_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,792}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{515,329},{258,792}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99007_sps.png</string>
            <key>size</key>
            <string>{262,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2e9245b7ae7504abd098ce1416fd57c:44e552ea9da5559f423027049b852ab0:c4ccf4e05bf0395a152cae8310aaa5a6$</string>
            <key>textureFileName</key>
            <string>pri_99007_sps.png</string>
        </dict>
    </dict>
</plist>
