<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00008_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,982}}</string>
                <key>offset</key>
                <string>{29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,231},{442,982}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00008_sps.png</string>
            <key>size</key>
            <string>{446,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7a727529473c9f08654db81b710ecfd:1063f7d07a07cfa65a11ebcb15a7cffe:78f68a9dc6027f2b9b4f513950113526$</string>
            <key>textureFileName</key>
            <string>pri_00008_sps.png</string>
        </dict>
    </dict>
</plist>
