<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99007_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,346},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,518},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,518},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99007_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,518},{170,170}}</string>
                <key>offset</key>
                <string>{0,416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,218},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99007_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7377b12ad2bd763b548b676849de6a19:357b6fbbfbb964c32b525759e39dafb0:8c152b2a5eadf13c03ada39f6fb2f8c0$</string>
            <key>textureFileName</key>
            <string>pri_99007_sps_all.png</string>
        </dict>
    </dict>
</plist>
