<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99005_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,36}}</string>
                <key>offset</key>
                <string>{17,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,340},{66,36}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99005_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,36}}</string>
                <key>offset</key>
                <string>{17,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,340},{66,36}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99005_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{66,36}}</string>
                <key>offset</key>
                <string>{17,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,340},{66,36}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99005_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{66,36}}</string>
                <key>offset</key>
                <string>{17,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,340},{66,36}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99005_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{66,36}}</string>
                <key>offset</key>
                <string>{17,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,340},{66,36}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99005_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{66,36}}</string>
                <key>offset</key>
                <string>{17,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,340},{66,36}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99005_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{66,36}}</string>
                <key>offset</key>
                <string>{17,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,340},{66,36}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99005_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{66,36}}</string>
                <key>offset</key>
                <string>{17,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,340},{66,36}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99005_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{66,36}}</string>
                <key>offset</key>
                <string>{17,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,340},{66,36}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99005_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{66,36}}</string>
                <key>offset</key>
                <string>{17,361}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,340},{66,36}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99005_sps_all.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e57ffe3fbf99636958f0145e4e3b52c:90b59a6d77efd82a8d495b7b33522915:567bf653168aa1ca7aea09fa9d373beb$</string>
            <key>textureFileName</key>
            <string>pri_99005_sps_all.png</string>
        </dict>
    </dict>
</plist>
