<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00044_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,928}}</string>
                <key>offset</key>
                <string>{73,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,353},{418,928}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00044_sps.png</string>
            <key>size</key>
            <string>{422,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3b58e7cbe0a456f4ffdf0b6bbdda776:08f8dcfac3d06e807b38396e4a3dc582:d20f7f6371e76df9363ff896729ec3c6$</string>
            <key>textureFileName</key>
            <string>pri_00044_sps.png</string>
        </dict>
    </dict>
</plist>
