<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10162_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,170},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,170},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,338},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,506},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,506},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,170},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,170},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,338},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,338},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,506},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10162_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,506},{194,166}}</string>
                <key>offset</key>
                <string>{27,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,240},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10162_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5064222fca65aad58959e1ad12aec88:2f44d2b29a7f1bcaa311a49fdb094c86:f18f22a67762d927d0803eb47ea86363$</string>
            <key>textureFileName</key>
            <string>pri_10162_sps_all.png</string>
        </dict>
    </dict>
</plist>
