<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00036_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,184},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,366},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00036_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,548},{162,180}}</string>
                <key>offset</key>
                <string>{-13,376}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,253},{162,180}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00036_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6daf11432c36e923375a738a428f1c9:e59b0d72abeade81025a54443f397119:4288247c4bb02985001935b92a47206c$</string>
            <key>textureFileName</key>
            <string>pri_00036_sps_all.png</string>
        </dict>
    </dict>
</plist>
