<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00010_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,842}}</string>
                <key>offset</key>
                <string>{8,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{519,390},{258,842}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00010_sps.png</string>
            <key>size</key>
            <string>{262,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df32b33a9466e6ad50549f7152aae156:d138e27e893f2f9c55fdc62a103ab07c:ab8c73b5050b335fd7ecba54ff8b21c7$</string>
            <key>textureFileName</key>
            <string>pri_00010_sps.png</string>
        </dict>
    </dict>
</plist>
