<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00021_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,634},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,160},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,318},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,476},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,634},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00021_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,634},{146,156}}</string>
                <key>offset</key>
                <string>{9,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,253},{146,156}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00021_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad273c767c8f7550d49108f2e30ffe5e:d541f3fdc723111eea1439d7b77a0c82:91475f9c86f62be57804a76980fc041e$</string>
            <key>textureFileName</key>
            <string>pri_00021_sps_all.png</string>
        </dict>
    </dict>
</plist>
