<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00070_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,168},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,334},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,500},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00070_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{152,164}}</string>
                <key>offset</key>
                <string>{1,390}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,247},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00070_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0de57467390b282b4efd6321a89f64bd:16963c28f69ecc2bc5328987615720c9:4906f5c66f9c2b7a1c6f9ce15fba6f81$</string>
            <key>textureFileName</key>
            <string>pri_00070_sps_all.png</string>
        </dict>
    </dict>
</plist>
