<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00075_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,578},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,770},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,578},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,770},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,578},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,770},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,770},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,770},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,194},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,578},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,578},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,386},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,770},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00075_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,770},{164,190}}</string>
                <key>offset</key>
                <string>{0,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,218},{164,190}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00075_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adcdcc26275a616cc7c93088d28b9315:fa7a61acb66c13b5940ec03d74914cd4:382af04608c1a5113869009a6da64670$</string>
            <key>textureFileName</key>
            <string>pri_00075_sps_all.png</string>
        </dict>
    </dict>
</plist>
