<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00158_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,116},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00158_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,230},{106,112}}</string>
                <key>offset</key>
                <string>{-5,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,284},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00158_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6e50d73ed5235ed9926251a83a6143e:c930b417d28d7c4ba3085f27c34fd15e:81e49e88d267c5581e1c3856cb4705d9$</string>
            <key>textureFileName</key>
            <string>pri_00158_sps_all.png</string>
        </dict>
    </dict>
</plist>
