<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00071_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,1128}}</string>
                <key>offset</key>
                <string>{19,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,242},{340,1128}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00071_sps.png</string>
            <key>size</key>
            <string>{344,1132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c6f8429dc37fcedca6d68bf04aa8fca:c1c019887865d6ddaf3d6d3fcb9cb70d:c20fa3f9db25ab75b32611b0c0b1710e$</string>
            <key>textureFileName</key>
            <string>pri_00071_sps.png</string>
        </dict>
    </dict>
</plist>
