<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00038_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,1158}}</string>
                <key>offset</key>
                <string>{-21,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,233},{592,1158}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00038_sps.png</string>
            <key>size</key>
            <string>{596,1162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d11844bf655850da363558b36f7cda3:21af06450d44ea122cf342ac8e824813:b7ec348f421a97fdd3446d9b93ad2744$</string>
            <key>textureFileName</key>
            <string>pri_00038_sps.png</string>
        </dict>
    </dict>
</plist>
