<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00002_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,1068}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,237},{300,1068}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00002_sps.png</string>
            <key>size</key>
            <string>{304,1072}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:828f674a9492957d7d51d2fbf5060247:5e2a6ee880e53b7ff0cb154831861077:e6aa2ab1be6c67ab866665b713cf2b33$</string>
            <key>textureFileName</key>
            <string>pri_00002_sps.png</string>
        </dict>
    </dict>
</plist>
