<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00066_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,1002}}</string>
                <key>offset</key>
                <string>{-57,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,355},{476,1002}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00066_sps.png</string>
            <key>size</key>
            <string>{480,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da1a7a93e35ae4a1893dcde07bc1e2b9:d4e2acd63de986ae47a51494bc806871:d18d863fadbe0077f442205e159fc888$</string>
            <key>textureFileName</key>
            <string>pri_00066_sps.png</string>
        </dict>
    </dict>
</plist>
