<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00075_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,1166}}</string>
                <key>offset</key>
                <string>{-6,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,216},{388,1166}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00075_sps.png</string>
            <key>size</key>
            <string>{392,1170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a09439e27e1a0ea08300855cce60e4e:35768f6772c251a189d1a2e699602812:2b508d13cd88f791a150625f0334cb9e$</string>
            <key>textureFileName</key>
            <string>pri_00075_sps.png</string>
        </dict>
    </dict>
</plist>
