<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00068_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,154},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,306},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00068_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,458},{142,150}}</string>
                <key>offset</key>
                <string>{6,393}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,251},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00068_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c651f605d439a86cf04b0b2c82e0f1f0:106296fa5b4da0618fea6f3cf664d39d:ea17bcd8d7b9305059f25f3675ca21f1$</string>
            <key>textureFileName</key>
            <string>pri_00068_sps_all.png</string>
        </dict>
    </dict>
</plist>
