<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10004_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,180},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,180},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,180},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,180},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,180},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,180},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,180},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_10004_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,176}}</string>
                <key>offset</key>
                <string>{8,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,220},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_10004_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25134ec9c1acd2c2255641cb8611408b:a4246b3a5606d02f5170c59b56ec66e2:c11af18f257db58db949c7bd3437f43b$</string>
            <key>textureFileName</key>
            <string>pri_10004_sps_all.png</string>
        </dict>
    </dict>
</plist>
