<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00039_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,542},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,542},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,182},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,362},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,542},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00039_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,542},{144,178}}</string>
                <key>offset</key>
                <string>{4,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,243},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00039_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d5c90322ea814809ca9e460ea66c6f4:6d274a3bc9bd109dbb2bba04fca7e1f1:3634f2771afd082eb2cc43820110668f$</string>
            <key>textureFileName</key>
            <string>pri_00039_sps_all.png</string>
        </dict>
    </dict>
</plist>
