<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_99009_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,48}}</string>
                <key>offset</key>
                <string>{1,444}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{617,251},{48,48}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_99009_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,48}}</string>
                <key>offset</key>
                <string>{1,444}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{617,251},{48,48}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_99009_sps_all.png</string>
            <key>size</key>
            <string>{52,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecd3fd3410feb696cfbabd68137d5c11:fe1bcd8eebc19b242b4b9338b638bdbc:dde082311458451e9621690d69ee72bb$</string>
            <key>textureFileName</key>
            <string>pri_99009_sps_all.png</string>
        </dict>
    </dict>
</plist>
