<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00088_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,658},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,166},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,330},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,494},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,658},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00088_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,658},{152,162}}</string>
                <key>offset</key>
                <string>{3,392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,246},{152,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00088_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:088259e537aa6a218f187d0a8510a2cc:62b3c9a3ba27f52fd74f13133ea67212:6965865fe84b1419c6f4092ed601a839$</string>
            <key>textureFileName</key>
            <string>pri_00088_sps_all.png</string>
        </dict>
    </dict>
</plist>
