<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00043_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,202},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,402},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,202},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,402},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,202},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,402},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,202},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,402},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,202},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,202},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,402},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,402},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,302},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,202},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,202},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,402},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,402},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00043_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,102},{94,98}}</string>
                <key>offset</key>
                <string>{6,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{599,305},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00043_sps_all.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87f7d1910693b13207cd2e5ff6cd7d03:df801b56007fb071d69a0e1c53f38824:e498a289bada31e8f841cfbb94e30f4f$</string>
            <key>textureFileName</key>
            <string>pri_00043_sps_all.png</string>
        </dict>
    </dict>
</plist>
