<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00097_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_01_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_02_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_03_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,98},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,98},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_04_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,98},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_05_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,194},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,194},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_06_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,194},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_07_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,290},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,290},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_08_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,290},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_09_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,386},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,386},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_10_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,386},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_11_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,482},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,482},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_12_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,482},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_13_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,578},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,578},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_14_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,578},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_15_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,98},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_16_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,98},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,98},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_17_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,98},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,194},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_18_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,194},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,194},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_19_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,194},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,290},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_20_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,290},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,290},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_21_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,290},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,386},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_22_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,386},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,386},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,386},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,482},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_24_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,482},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,482},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_25_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,482},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,578},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_26_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,578},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,578},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
            <key>face_00097_27_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,578},{102,94}}</string>
                <key>offset</key>
                <string>{6,369}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,303},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00097_sps_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd54c73b4530634966c3bbe2d0283cb4:1735e76b591f3e3868ed05516c0993fe:a24e42f12fb84a6632708fdb49155b1f$</string>
            <key>textureFileName</key>
            <string>pri_00097_sps_all.png</string>
        </dict>
    </dict>
</plist>
