<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00007_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,1158}}</string>
                <key>offset</key>
                <string>{-14,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,244},{366,1158}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00007_sps.png</string>
            <key>size</key>
            <string>{370,1162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c5b94e041d6019366c5b8634690ae8a:270a55e3b414a10658af2de6d00c0828:9abe27fb01b0b3a62b07223e7bb94f5a$</string>
            <key>textureFileName</key>
            <string>pri_00007_sps.png</string>
        </dict>
    </dict>
</plist>
