<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00099_body_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{1442,960}}</string>
                <key>offset</key>
                <string>{15,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,588},{1442,960}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00099_blink_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,588}}</string>
                <key>offset</key>
                <string>{15,689}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{769,167},{540,588}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
            <key>face_00099_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{540,588}}</string>
                <key>offset</key>
                <string>{15,689}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{769,167},{540,588}}</string>
                <key>sourceSize</key>
                <string>{2048,2300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00099_sps_zoom.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cf305f7733f02feaf308aa65f95e862:2f822401a0f8b2bfc06c4f01a8b30eb3:2136b34107af3f6a805d1604ec96b9d7$</string>
            <key>textureFileName</key>
            <string>pri_00099_sps_zoom.png</string>
        </dict>
    </dict>
</plist>
