<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00040_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,886}}</string>
                <key>offset</key>
                <string>{-16,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{506,386},{236,886}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00040_sps.png</string>
            <key>size</key>
            <string>{240,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c6a6a4def29f76b893848e86a253385:b7f3e18e17963359e97540d1dbc00c44:4ed566b8127e6969a7b468f88400fa6e$</string>
            <key>textureFileName</key>
            <string>pri_00040_sps.png</string>
        </dict>
    </dict>
</plist>
