<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00073_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,1124}}</string>
                <key>offset</key>
                <string>{-32,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,253},{392,1124}}</string>
                <key>sourceSize</key>
                <string>{1280,1438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pri_00073_sps.png</string>
            <key>size</key>
            <string>{396,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a36fe79932704fd637f57906dcea76cf:6ceeae9e1f7f9d5468f61610e1186c20:d3f6b51fe1cad544629121f7b239be56$</string>
            <key>textureFileName</key>
            <string>pri_00073_sps.png</string>
        </dict>
    </dict>
</plist>
